In [1]:
import pandas as pd
import numpy as np
print("Setup ok")

Setup ok

In [2]:
cargas = pd.DataFrame()
atrac = pd.DataFrame()

for ano in range(2015,2020):    
    cargas_temp = pd.read_csv(f'C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/{ano}/{ano}Carga.txt',sep =";")
    cargas = pd.concat([cargas,cargas_temp], ignore_index=True)
    
    atrac_temp = pd.read_csv(f'C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/{ano}/{ano}Atracacao.txt',sep =";") 
    atrac = pd.concat([atrac,atrac_temp], ignore_index=True)

agri_outlook = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Agricultural Outlook.csv")

comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Commodity prices, monthly.csv")

pib = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Gross domestic product (GDP).csv")

prod_sales = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Production and Sales (MEI).csv")

taxa_desocupacao = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Taxa de desocupação.csv",sep =";")

infra_invest = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Transport infrastructure investment and maintenance spending.csv")

weel_being_15 = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Well-being 2015.csv")

dolar = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/USD_BRL Dados Históricos.csv")

#Acho que a capacidade de produção de aço não ajuda. Visto que estamos analisando a movimentacao de cntrs
#stell_capacity = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Steel Making Capacity.csv")

print("ok")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ok

##########################################  TRATAMENTO DE cargas  #############################################################

In [ ]:
#Colunas de cargas

cargas.columns

#Observar que o PIB deve ser linkado com a DATA DE CHEGADA
#Além disso, podemos fazer algumas análises de gráficos pré modelagem para introduzirmos o assunto

#atrac[['Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes']]

In [ ]:
cargas['FlagAutorizacao'].value_counts()

In [ ]:
cargas['FlagConteinerTamanho'].value_counts()

In [3]:
cargas = cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
       'Sentido', 'TEU']]

#cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
#       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
#       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
#       'Sentido', 'TEU', 'QTCarga']].head()

#Colunas não selecionadas:
#       'FlagAutorizacao', 'FlagCabotagem',
#       'FlagCabotagemMovimentacao', 'FlagLongoCurso',
#       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
#       'Percurso Transporte em vias Interiores'
#Por motido de irrelevância. Em 'Percurso Transporte em vias Interiores' a coluna 'Tipo Navegação' já traz as infos necessárias
#'STNaturezaCarga','STSH2' e 'STSH4': Exclusivo ou Compartilhado. Irrelevante para o projeto
#'Natureza da Carga': totalmente completa como "Carga Conteinerizada". Logo, não é necessária sua presença
#'VLPesoCargaBruta' é proporcional a coluna 'TEU', logo não será utilizada
#'QTCarga' é igual ao TEU

In [4]:
#'Carga Geral Acondicionamento' é dividida em Contenerizada e Solta. 
#As linhas com valores NaN são dropados abaixo
#1667696 (com valor); 46821 (NaN)

cargas = cargas[cargas['Carga Geral Acondicionamento'] == "Conteinerizada"]

#Tira-se os TEUs decimais 
cargas = cargas.loc[(cargas['FlagConteinerTamanho'] != 'OUTROS') &
                    (cargas['FlagConteinerTamanho'].notnull())]
cargas['FlagConteinerTamanho'].replace({'40.0':'40','20.0':'20'}, inplace=True)

#Ajuste do tipo da coluna
cargas['FlagConteinerTamanho'] = cargas['FlagConteinerTamanho'].astype('int')
cargas['TEU'] = cargas['TEU'].astype('int')

cargas.reset_index(drop=True, inplace=True)
cargas.head()

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [5]:
#'ConteinerEstado' é dividida em Cheio e Vazio.
#As linhas com valores NaN foram dropadas abaixo, tanto que a coluna "TEU" está zerada nas linhas com NaN em ConteinerEstado

cargas = cargas[cargas['ConteinerEstado'].notnull()]
#cargas.head()

In [ ]:
#'FlagConteinerTamanho' é complementada por 'TEU' e 'QTCarga'
#A coluna tem o valor "OUTROS" que pode ganhar o valor de 20 ou 40 a depender das colunas complementares
#Quando isso for feito, deve-se mudar o tipo da coluna para float
#Os valores OUTROS equivalem a pouco menos do que 1% dos dados.

cargas['FlagConteinerTamanho'].value_counts()

In [6]:
#'Sentido' é dividida em Desembarcados, Embarcados e Não informados
#Os valores "Não Informados" são ignorados abaixo, uma vez q representam nem 2% de cada outro valor e nem 1% de todos os valores

cargas = cargas[cargas['Sentido']!= "Não Informado"]

In [ ]:
cargas.head()

#'Tipo Navegação': um mesmo cntr pode ser usado na cabotagem e no longo curso? *********************

In [ ]:
cargas.info()

###############################################################################################################################

##########################################  TRATAMENTO DE atrac  ##############################################################

In [ ]:
atrac

In [ ]:
#Colunas de atrac

atrac.columns

#'Nº da Capitania' não tem função para o trabalho

In [7]:
atrac = atrac[['IDAtracacao', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Navegação da Atracação', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica']]

#atrac[['IDAtracacao', 'Porto Atracação',
#       'Apelido Instalação Portuária', 'Complexo Portuário',
#       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
#       'Nacionalidade do Armador', 'Terminal',
#       'Município', 'UF', 'SGUF', 'Região Geográfica']].head()

#Como essa tabela é suporte, poucas colunas vão interessar. Uma vez que será extraído dela o local dos portos e terminais.
#Colunas não selecionadas:
#'IDBerco', 'CDTUP', 'Berço', 'Tipo de Operação',
#'FlagMCOperacaoAtracacao', 'Nº da Capitania' e 'Nº do IMO' têm pouca relevância no estudo.

In [ ]:
#'Apelido Instalação Portuária' é mantido por ora por segurança.

atrac[atrac['Apelido Instalação Portuária'].isna()]['Complexo Portuário'].value_counts()

In [8]:
atrac['Nacionalidade do Armador'].value_counts()

1.0    228936
2.0    134240
0.0      1514
Name: Nacionalidade do Armador, dtype: int64

In [ ]:
#atrac

In [9]:
#Pega apenas "dd" da Data Inicio Operacao, e renomeia a coluna
atrac['Data Início Operação'] = atrac['Data Início Operação'].str.slice(0,2)
atrac.rename(columns={'Data Início Operação':'Dia'}, inplace=True)

###############################################################################################################################

Juntando cargas e atrac

In [10]:
cargas_atrac = cargas.merge(atrac, how='inner', on='IDAtracacao')

In [ ]:
cargas_atrac.info()

In [ ]:
cargas_atrac['Mes'].value_counts()

In [37]:
cargas_atrac.columns

Index(['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'Tipo Operação da Carga',
       'Carga Geral Acondicionamento', 'ConteinerEstado', 'Tipo Navegação',
       'FlagConteinerTamanho', 'Sentido', 'TEU', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Dia', 'Data Término Operação', 'Ano', 'Mes',
       'Tipo de Navegação da Atracação', 'Nacionalidade do Armador',
       'Terminal', 'Município', 'UF', 'SGUF', 'Região Geográfica'],
      dtype='object')

In [38]:
cargas_atrac.head()

#Notar que as colunas IDCarga, Origem, Destino, Carga Geral Acondicionamento, ConteinerEstado,
# Sentido,

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,...,Data Término Operação,Ano,Mes,Tipo de Navegação da Atracação,Nacionalidade do Armador,Terminal,Município,UF,SGUF,Região Geográfica
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,...,03/01/2015 18:39:00,2015,jan,Cabotagem,2.0,DP World Santos,Santos,São Paulo,SP,Sudeste
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,...,03/01/2015 18:39:00,2015,jan,Cabotagem,2.0,DP World Santos,Santos,São Paulo,SP,Sudeste
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,...,03/01/2015 18:39:00,2015,jan,Cabotagem,2.0,DP World Santos,Santos,São Paulo,SP,Sudeste
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,...,03/01/2015 18:39:00,2015,jan,Cabotagem,2.0,DP World Santos,Santos,São Paulo,SP,Sudeste
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,...,03/01/2015 18:39:00,2015,jan,Cabotagem,2.0,DP World Santos,Santos,São Paulo,SP,Sudeste

In [39]:
cargas_atrac['Carga Geral Acondicionamento'].value_counts()

Conteinerizada    2962843
Name: Carga Geral Acondicionamento, dtype: int64

In [11]:
#A base fica muito pesada ao longo do tratamento, como o projeto é estudar apenas as movimentações portuárias em Santos, 
#é sugerido que apenas dados com Município = Santos sejam mantidos. 
# A ação ainda não foi feita **

cargas_atrac = cargas_atrac.loc[(cargas_atrac['Município'] == 'Santos') |
                                  (cargas_atrac['Município'] =='Guarujá')]

###############################################################################################################################

################################################ Agri Outlook ##################################################################

In [ ]:
#Colunas do agri outlook

agri_outlook.columns

In [12]:
agri_outlook = agri_outlook[['Commodity','Variable','Time','Value']] 

#Mantive 'Variable' pois soa interessante o porque do dado

In [ ]:
agri_outlook['Variable'].value_counts()

In [13]:
novos_nomes = agri_outlook['Variable'].str.split(",",expand=True)

In [ ]:
novos_nomes[0]

In [14]:
agri_outlook['Variable']=novos_nomes[0]

In [15]:
agri_outlook['Chave_var_comm'] = agri_outlook['Commodity']+" - "+agri_outlook['Variable']

In [16]:
agri_outlook.drop(columns=['Variable','Commodity'], inplace=True)

In [17]:
df_dummies_agri = pd.get_dummies(agri_outlook,columns=['Chave_var_comm'])

In [ ]:
df_dummies_agri.head()

In [18]:
for i in range(0,len(df_dummies_agri)):
    for j in range(2,len(df_dummies_agri.columns.to_list())):
        df_dummies_agri.iloc[i,j] = df_dummies_agri.iloc[i,1] * df_dummies_agri.iloc[i,j]

In [19]:
df_dummies_agri_agg = df_dummies_agri.groupby('Time').sum()
df_dummies_agri_agg.drop(columns=['Value'],inplace=True)

In [ ]:
df_dummies_agri_agg.head()

df_dummies_agri.loc[(df_dummies_agri['Commodity_Biodiesel'] == 1) &
                   (df_dummies_agri['Time'] == 2019)]

In [ ]:
cargas_atrac.shape

In [20]:
#Junção da tabela cargas_atrac com a agri
cargas_atrac_agri = cargas_atrac.merge(df_dummies_agri_agg, how='inner', left_on='Ano', right_index=True)

In [ ]:
#cargas_atrac_agri.info()

###############################################################################################################################

################################################ Commod. Price ################################################################

In [ ]:
comm_price.columns

In [ ]:
comm_price

In [21]:
#Transforma a tabela pivotada numa tabela normal

comm_price = pd.DataFrame(comm_price.to_records())
#comm_price

In [22]:
#Ajuda a tabela para um modo utilizável
#Temos que alterar melhor essa tabela para ela conversar com as demais *******************
#Trocar as linhas pelas colunas

comm_price.columns = comm_price.iloc[0]
comm_price = comm_price.drop([1,2,3,4])
comm_price = comm_price.set_index('PERIOD', drop=True)

#comm_price

In [23]:
comm_price = comm_price.transpose()
comm_price = comm_price.drop('PERIOD', axis=1).reset_index()

#comm_price.head()

In [24]:
#É preciso trocar a coluna PERIOD

meses_comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Meses_2015_2019.csv")
#meses_comm_price

In [25]:
#Ajusta o nome da coluna bem como seus valores

comm_price[0] = meses_comm_price['Mes/ano']
comm_price.rename(columns={0:'Mes/ano'}, inplace=True)

In [ ]:
comm_price.columns

In [ ]:
comm_price.head()

In [26]:
#Coluna Mes/ano tratada
mes_ano_trat = comm_price['Mes/ano'].str.split("/",expand=True)
mes_ano_trat[1] = mes_ano_trat[1].map({'15':2015,'16':2016,'17':2017,'18':2018,'19':2019})
mes_ano_trat

      0     1
0   jan  2015
1   fev  2015
2   mar  2015
3   abr  2015
4   mai  2015
5   jun  2015
6   jul  2015
7   ago  2015
8   set  2015
9   out  2015
10  nov  2015
11  dez  2015
12  jan  2016
13  fev  2016
14  mar  2016
15  abr  2016
16  mai  2016
17  jun  2016
18  jul  2016
19  ago  2016
20  set  2016
21  out  2016
22  nov  2016
23  dez  2016
24  jan  2017
25  fev  2017
26  mar  2017
27  abr  2017
28  mai  2017
29  jun  2017
30  jul  2017
31  ago  2017
32  set  2017
33  out  2017
34  nov  2017
35  dez  2017
36  jan  2018
37  fev  2018
38  mar  2018
39  abr  2018
40  mai  2018
41  jun  2018
42  jul  2018
43  ago  2018
44  set  2018
45  out  2018
46  nov  2018
47  dez  2018
48  jan  2019
49  fev  2019
50  mar  2019
51  abr  2019
52  mai  2019
53  jun  2019
54  jul  2019
55  ago  2019
56  set  2019
57  out  2019
58  nov  2019
59  dez  2019

In [27]:
comm_price.drop(columns=['Mes/ano'], inplace=True)
comm_price[['Mes','Ano']] = mes_ano_trat

In [ ]:
comm_price.head()

In [28]:
cargas_atrac_agri_cprice = cargas_atrac_agri.merge(comm_price, how='inner', on=['Mes','Ano'])

###############################################################################################################################

################################################ PIB ##########################################################################

In [29]:
pib = pib[['Transaction', 'MEASURE', 'Measure',
       'TIME', 'Year', 'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Unit','Flag Codes',
       'Flags']]

In [ ]:
pib['Transaction'].value_counts()

In [ ]:
pib.columns

In [ ]:
pib.head()

In [ ]:
a = pib['Transaction']

In [30]:
#Chave que contempla a transaction com a unidade de medida
pib['Chave'] = pib['Transaction'] + pib['Unit']

In [31]:
#Ajusta PIB
df_demmies_transaction_name = pd.get_dummies(pib,columns=['Chave'])
col = [0,1,2,3,5,6,7,8,9,11,12,13]
df_demmies_transaction_name.drop(df_demmies_transaction_name.columns[col], axis=1,inplace=True)
df_demmies_transaction_name.head()

,Year,Value,"Chave_Agriculture, forestry and fishing (ISIC rev4)Brazilian Real","Chave_Agriculture, forestry and fishing (ISIC rev4)Index","Chave_Agriculture, forestry and fishing (ISIC rev4)Percentage","Chave_Agriculture, forestry and fishing (ISIC rev4)US Dollar",Chave_Changes in inventories and acquisitions less disposals of valuablesBrazilian Real,Chave_Changes in inventories and acquisitions less disposals of valuablesUS Dollar,Chave_Changes in inventoriesBrazilian Real,Chave_Changes in inventoriesUS Dollar,...,Chave_Wages and salariesBrazilian Real,Chave_Wages and salariesUS Dollar,Chave_of which: Actual individual consumptionBrazilian Real,Chave_of which: Actual individual consumptionUS Dollar,Chave_of which: Manufacturing (ISIC rev 4)Brazilian Real,Chave_of which: Manufacturing (ISIC rev 4)US Dollar,Chave_of which: Manufacturing (ISIC rev4)Brazilian Real,Chave_of which: Manufacturing (ISIC rev4)Index,Chave_of which: Manufacturing (ISIC rev4)Percentage,Chave_of which: Manufacturing (ISIC rev4)US Dollar
0,2015,6064933.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,6244271.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,6538182.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,6976559.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,1069397.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
#Seleciona as colunas a serem dropadas
drop_list = [col for col in df_demmies_transaction_name.columns if ('Brazilian Real' in col) or
                                                                    ('Percentage' in col) or 
                                                                     ('Index' in col)]

In [33]:
#Drop das especificadas
df_demmies_transaction_name = df_demmies_transaction_name.drop(columns=drop_list)

In [ ]:
df_demmies_transaction_name.columns

df_demmies_transaction_name.info()

In [34]:
df_demmies_transaction_name['Value'] = df_demmies_transaction_name['Value'].astype(float)
for i in range(0,len(df_demmies_transaction_name)):
    for j in range(2,len(df_demmies_transaction_name.columns.to_list())):
        df_demmies_transaction_name.iloc[i,j] = df_demmies_transaction_name.iloc[i,1] * df_demmies_transaction_name.iloc[i,j]

In [35]:
df_demmies_transaction_name = df_demmies_transaction_name.groupby(by='Year').sum().drop(columns='Value')#, inplace=True)

In [36]:
#Join do pib com as demais
cargas_atrac_agri_cprice_pib = cargas_atrac_agri_cprice.merge(df_demmies_transaction_name, how='inner',
                                                              left_on='Ano', right_on='Year')

MemoryError: Unable to allocate 3.69 GiB for an array with shape (208, 2378902) and data type float64

pib.loc[pib['Transaction'] == 'Wages and salaries']

pib['Transaction'].value_counts()

In [ ]:
#Talvez essa base mais atrapalhe do que ajude. Primeiro que são levantamentos anuais,
#segundo que há pouco dados para cada "Transaction"

In [ ]:
#Os componentes do PIB apresentados nessa tabela talvez não nos ajudem se vistos isoladamente. 
#O valor "condensado" do PIB é mais útil ***************** PROCURAR ESSA INFO *************

#Verificar como um valor singular pode influenciar no algoritimo ML. Como um valor representativo, como o PIB (somente), pode 
#influenciar o ML 
#************************* VER COM O PROFESSOR

pib

###############################################################################################################################

############################################### Prod. Sales ###################################################################

In [ ]:
prod_sales.columns

In [ ]:
prod_sales.head()

In [ ]:
#Escolhido a mesma referencia para os dados. Tinhamos outra referencia (2015)
prod_sales =prod_sales.loc[prod_sales['Reference Period']=='2010=100']

In [ ]:
prod_sales.loc[prod_sales['Reference Period']=='2010=100']['TIME'].value_counts().sort_values(0)

In [ ]:
#Dados MENSAIS. Selção das colunas relevantes
#'Reference Period' = 

prod_sales = prod_sales[['Subject', 'LOCATION', 'Country',
        'Time', 'Value']]

In [ ]:
#Seleção apenas de EUA e UE por serem grandes polos ligados ao COMEX BR

prod_sales = prod_sales.loc[prod_sales['Country'].isin(['Euro area','Brazil', 'United States'])]

In [ ]:
#Cria chave para ajustar a tabela
prod_sales['Chave'] = prod_sales['Subject'] + prod_sales['Country']

In [ ]:
#Ajusta a tabela
dummies_prod_sales = pd.get_dummies(prod_sales,columns=['Chave'])
dummies_prod_sales.head()

In [ ]:
dummies_prod_sales['Value'] = dummies_prod_sales['Value'].astype(float)
for i in range(0,len(dummies_prod_sales)):
    for j in range(4,len(dummies_prod_sales.columns.to_list())):
        dummies_prod_sales.iloc[i,j] = dummies_prod_sales.iloc[i,4] * dummies_prod_sales.iloc[i,j]

In [ ]:
#Dropa colunas nao mais necessárias
dummies_prod_sales.drop(dummies_prod_sales.columns[[0,1,2,4]], axis=1,inplace=True)

In [ ]:
#Alguns dados estao zerados, sugestão: substituir pela média, ou, úlitmo valor
dummies_prod_sales = dummies_prod_sales.groupby(by='Time').sum().reset_index()
dummies_prod_sales.head()

In [ ]:
#criando nomes para duas novas colunas
novos_nomes2 = dummies_prod_sales['Time'].str.split("-",expand=True)
dummies_prod_sales[['Mes', 'Ano']] = novos_nomes2

#Ajusta nomes dos meses
dummies_prod_sales['Mes'].replace({'Jan':'jan','Fev':'fev','Mar':'mar','Apr':'abr','May':'mai','Jun':'jun',
                                  'Jul':'jul','Aug':'ago','Sep':'set','Oct':'out','Nov':'nov','Dec':'dez'}, inplace=True)

In [ ]:
#Dropa coluna Value
dummies_prod_sales.drop(dummies_prod_sales.columns[0], axis=1,inplace=True)

In [ ]:
dummies_prod_sales.info()

In [ ]:
dummies_prod_sales['Ano'] = dummies_prod_sales['Ano'].astype(int)

In [ ]:
cargas_atrac_agri_cprice_pib['Mes'].value_counts()

In [ ]:
#Join prod_sales com as demais
cargas_atrac_agri_cprice_pib_psales = cargas_atrac_agri_cprice_pib.merge(dummies_prod_sales, how='inner', on=['Mes', 'Ano'])

#Teste para atestar a referencia do index - achamos q seja a média do ano para cada categoria - o resultado é um pouco diferente
prod_sales.loc[(prod_sales['Reference Period Code'] == '2015_100') &
              (prod_sales['Subject'] == 'Production of total industry sa, Index') &
              (prod_sales['LOCATION'] == 'USA')]['Value'].mean()

prod_sales.reset_index(drop=True, inplace=True)
prod_sales

###############################################################################################################################

############################################### Tx. Desocupação ###############################################################

In [ ]:
#Não alterei nada. Tabela está boa para ser utilizada
taxa_desocupacao.head()

In [ ]:
nova_col_txocup = taxa_desocupacao['Mes/Ano'].str.split('/', expand=True)

In [ ]:
taxa_desocupacao.drop(columns='Mes/Ano', inplace=True)

In [ ]:
taxa_desocupacao[['Mes','Ano']] =  nova_col_txocup

In [ ]:
taxa_desocupacao['Ano'] = '20' + taxa_desocupacao['Ano']
taxa_desocupacao

In [ ]:
taxa_desocupacao['Ano'] = taxa_desocupacao['Ano'].astype(int)

In [ ]:
taxa_desocupacao.rename(columns={'Ratio':"Taxa_desocupacao"}, inplace=True)

In [ ]:
taxa_desocupacao['Taxa_desocupacao'].astype(float)

In [ ]:
cargas_atrac_agri_cprice_pib_psales_txdesoc = cargas_atrac_agri_cprice_pib_psales.merge(taxa_desocupacao, how='inner',
                                                                                       on=['Mes', 'Ano'])

###############################################################################################################################

####################################################### Infra Invest ##########################################################

Não Usaremos Infra Invest

In [ ]:
infra_invest.columns

#Como ali em cima pegamos apenas EUA e UE, é pertinente aqui pegarmos EUA e GER (país europeu mais forte)

infra_invest = infra_invest[['Country', 'Variable', 'Measure',
       'YEAR', 'Year', 'Value']]

infra_invest = infra_invest.loc[(infra_invest['Country'].isin(['United States','Germany'])) &
                               (infra_invest['Measure']== "Euro")]

infra_invest.reset_index(drop=True, inplace=True)
infra_invest

#Ponderar que o material usado na tabela "infra" são transportados a granel.

###############################################################################################################################

################################################## Weel-being #################################################################

Não Usaremos weel being

weel_being_15.columns

weel_being_15 = weel_being_15[['TYPE_VAR', 'Indicator','Time', 'Value']]

#weel_being_15.head()

#Apenas esses indicadores pois são os únicos com 5 medições (2015-19)

weel_being_15 = weel_being_15.loc[weel_being_15['Indicator'].isin(['Social support','Feeling safe at night',
                                                                   'Households with internet access at home',
                                                                  'Employment rate'])]

weel_being_15

###############################################################################################################################

######################################################### Dolar ###############################################################

In [ ]:
dolar.head()

In [ ]:
dd_mm_aaaa = dolar['Data'].str.split('.',expand=True)

In [ ]:
dolar[['Dia','Mes','Ano']] = dd_mm_aaaa
dolar.drop(columns=['Data','Último','Máxima','Mínima','Var%'], inplace=True)

In [ ]:
dolar.rename(columns={'Abertura':'Valor'},inplace=True)

In [ ]:
dolar['Ano'] = dolar['Ano'].astype(int)

In [ ]:
dolar.info()

In [ ]:
cargas_atrac_agri_cprice_pib_psales_txdesoc_dolar = cargas_atrac_agri_cprice_pib_psales_txdesoc.merge(dolar, how='inner',
                                                                                                     on=['Dia','Mes','Ano'])

###############################################################################################################################

As linhas a seguir não contemplam nada do que foi feito acima. Abaixo apenas está linhas que restaram de outra versão.

In [ ]:
#Join os dois dfs - Cargas e Atracação

#df_joined = pd.merge(carga_cont_CAB, atrac, on='IDAtracacao', how='left')
#df_joined

In [ ]:
#Associando a sigla da Origem com o Município

#df_joined.groupby('Origem').Município.value_counts()

In [ ]:
#Associando a sigla da Origem com o Terminal

#df_joined.groupby('Origem').Terminal.value_counts()