In [1]:
import pandas as pd
import numpy as np
print("Setup ok")

Setup ok

In [4]:
cargas = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Carga.txt",sep =";")

atrac = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Atracacao.txt",sep =";")

agri_outlook = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Agricultural Outlook.csv")

comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Commodity prices, monthly.csv")

pib = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Gross domestic product (GDP).csv")

prod_sales = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Production and Sales (MEI).csv")

taxa_desocupacao = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Taxa de desocupação.csv",sep =";")

infra_invest = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Transport infrastructure investment and maintenance spending.csv")

weel_being_15 = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Well-being 2015.csv")

dolar = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/USD_BRL Dados Históricos.csv")

#Acho que a capacidade de produção de aço não ajuda. Visto que estamos analisando a movimentacao de cntrs
#stell_capacity = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Steel Making Capacity.csv")

print("ok")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ok

##########################################  TRATAMENTO DE cargas  #############################################################

In [5]:
#Colunas de cargas

cargas.columns

Index(['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagAutorizacao', 'FlagCabotagem',
       'FlagCabotagemMovimentacao', 'FlagConteinerTamanho', 'FlagLongoCurso',
       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
       'Percurso Transporte em vias Interiores',
       'Percurso Transporte Interiores', 'STNaturezaCarga', 'STSH2', 'STSH4',
       'Natureza da Carga', 'Sentido', 'TEU', 'QTCarga', 'VLPesoCargaBruta'],
      dtype='object')

#Observar que o PIB deve ser linkado com a DATA DE CHEGADA
#Além disso, podemos fazer algumas análises de gráficos pré modelagem para introduzirmos o assunto

#atrac[['Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes']]

In [6]:
cargas['FlagAutorizacao'].value_counts()

S    1714210
N        307
Name: FlagAutorizacao, dtype: int64

In [7]:
cargas['FlagConteinerTamanho'].value_counts()

40        766152
20        441781
40.0      205857
20.0      124213
OUTROS     14693
Name: FlagConteinerTamanho, dtype: int64

In [8]:
cargas = cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
       'Sentido', 'TEU']]

#cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
#       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
#       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
#       'Sentido', 'TEU', 'QTCarga']].head()

#Colunas não selecionadas:
#       'FlagAutorizacao', 'FlagCabotagem',
#       'FlagCabotagemMovimentacao', 'FlagLongoCurso',
#       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
#       'Percurso Transporte em vias Interiores'
#Por motido de irrelevância. Em 'Percurso Transporte em vias Interiores' a coluna 'Tipo Navegação' já traz as infos necessárias
#'STNaturezaCarga','STSH2' e 'STSH4': Exclusivo ou Compartilhado. Irrelevante para o projeto
#'Natureza da Carga': totalmente completa como "Carga Conteinerizada". Logo, não é necessária sua presença
#'VLPesoCargaBruta' é proporcional a coluna 'TEU', logo não será utilizada
#'QTCarga' é igual ao TEU

In [9]:
#'Carga Geral Acondicionamento' é dividida em Contenerizada e Solta. 
#As linhas com valores NaN são dropados abaixo
#1667696 (com valor); 46821 (NaN)

cargas = cargas[cargas['Carga Geral Acondicionamento'] == "Conteinerizada"]

#Tira-se os TEUs decimais 
cargas = cargas.loc[(cargas['FlagConteinerTamanho'] != 'OUTROS') &
                    (cargas['FlagConteinerTamanho'].notnull())]
cargas['FlagConteinerTamanho'].replace({'40.0':'40','20.0':'20'}, inplace=True)

#Ajuste do tipo da coluna
cargas['FlagConteinerTamanho'] = cargas['FlagConteinerTamanho'].astype('int')
cargas['TEU'] = cargas['TEU'].astype('int')

cargas.reset_index(drop=True, inplace=True)
cargas.head()

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [10]:
#'ConteinerEstado' é dividida em Cheio e Vazio.
#As linhas com valores NaN foram dropadas abaixo, tanto que a coluna "TEU" está zerada nas linhas com NaN em ConteinerEstado

cargas = cargas[cargas['ConteinerEstado'].notnull()]
#cargas.head()

In [11]:
#'FlagConteinerTamanho' é complementada por 'TEU' e 'QTCarga'
#A coluna tem o valor "OUTROS" que pode ganhar o valor de 20 ou 40 a depender das colunas complementares
#Quando isso for feito, deve-se mudar o tipo da coluna para float
#Os valores OUTROS equivalem a pouco menos do que 1% dos dados.

cargas['FlagConteinerTamanho'].value_counts()

40    971188
20    565967
Name: FlagConteinerTamanho, dtype: int64

In [12]:
#'Sentido' é dividida em Desembarcados, Embarcados e Não informados
#Os valores "Não Informados" são ignorados abaixo, uma vez q representam nem 2% de cada outro valor e nem 1% de todos os valores

cargas = cargas[cargas['Sentido']!= "Não Informado"]

In [13]:
cargas.head()

#'Tipo Navegação': um mesmo cntr pode ser usado na cabotagem e no longo curso? *********************

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [15]:
cargas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523472 entries, 0 to 1538002
Data columns (total 11 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   IDCarga                       1523472 non-null  int64
 1   IDAtracacao                   1523472 non-null  int64
 2   Origem                        1523472 non-null  object
 3   Destino                       1523472 non-null  object
 4   Tipo Operação da Carga        1523472 non-null  object
 5   Carga Geral Acondicionamento  1523472 non-null  object
 6   ConteinerEstado               1523472 non-null  object
 7   Tipo Navegação                1523472 non-null  object
 8   FlagConteinerTamanho          1523472 non-null  int32
 9   Sentido                       1523472 non-null  object
 10  TEU                           1523472 non-null  int32
dtypes: int32(2), int64(2), object(7)
memory usage: 127.9+ MB

###############################################################################################################################

##########################################  TRATAMENTO DE atrac  ##############################################################

In [26]:
atrac

,IDAtracacao,CDTUP,IDBerco,Berço,Porto Atracação,Apelido Instalação Portuária,Complexo Portuário,Tipo da Autoridade Portuária,Data Atracação,Data Chegada,...,Tipo de Navegação da Atracação,Nacionalidade do Armador,FlagMCOperacaoAtracacao,Terminal,Município,UF,SGUF,Região Geográfica,Nº da Capitania,Nº do IMO
0,678383,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,08/03/2015 04:32:00,08/03/2015 04:32:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
1,686657,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,20/04/2015 06:00:00,20/04/2015 05:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
2,686656,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,30/04/2015 04:00:00,30/04/2015 03:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
3,720152,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,05/10/2015 15:00:00,05/10/2015 15:00:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
4,703856,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,19/07/2015 04:18:00,19/07/2015 04:18:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70464,884624,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,23/10/2015 21:55:00,23/10/2015 21:55:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011436409,NaN
70465,888124,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,11/08/2015 15:17:00,11/08/2015 15:17:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70466,884617,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,09/10/2015 08:40:00,09/10/2015 08:40:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70467,884570,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,04/11/2015 09:02:00,04/11/2015 09:02:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70468,884657,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,19/09/2015 08:15:00,19/09/2015 08:15:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN

In [27]:
#Colunas de atrac

atrac.columns

#'Nº da Capitania' não tem função para o trabalho

Index(['IDAtracacao', 'CDTUP', 'IDBerco', 'Berço', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Operação', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'FlagMCOperacaoAtracacao', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica', 'Nº da Capitania',
       'Nº do IMO'],
      dtype='object')

In [28]:
atrac = atrac[['IDAtracacao', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica']]

#atrac[['IDAtracacao', 'Porto Atracação',
#       'Apelido Instalação Portuária', 'Complexo Portuário',
#       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
#       'Nacionalidade do Armador', 'Terminal',
#       'Município', 'UF', 'SGUF', 'Região Geográfica']].head()

#Como essa tabela é suporte, poucas colunas vão interessar. Uma vez que será extraído dela o local dos portos e terminais.
#Colunas não selecionadas:
#'IDBerco', 'CDTUP', 'Berço', 'Tipo de Operação',
#'FlagMCOperacaoAtracacao', 'Nº da Capitania' e 'Nº do IMO' têm pouca relevância no estudo.

In [29]:
#'Apelido Instalação Portuária' é mantido por ora por segurança.

atrac[atrac['Apelido Instalação Portuária'].isna()]['Complexo Portuário'].value_counts()

Santos                           5488
Vitória                          4546
Vila do Conde - Belém            4496
Manaus                           3803
Rio Grande                       3619
Porto Velho                      2577
Corumbá                          2427
Santarém                         2185
Paranaguá - Antonina             2171
Rio de Janeiro -  Niterói        2071
Porto Alegre                     1991
Itaqui                           1199
São Francisco do Sul             1162
Aratu - Salvador                  746
Pecém - Fortaleza                 489
Óbidos                            435
Itajaí                            367
Itaguaí                           340
Maceió                            326
Não Classificado                  308
Imbituba                          229
Angra dos Reis                    184
Tomé Açu                          154
São Sebastião                     140
Cabedelo (Instalação Isolada)     117
São João da Barra                  97
Natal                              75
Almeirim                           40
Forno                              19
Suape - Recife                      3
Name: Complexo Portuário, dtype: int64

In [30]:
atrac['Nacionalidade do Armador'].value_counts()

1.0    38515
2.0    30482
0.0     1165
Name: Nacionalidade do Armador, dtype: int64

In [ ]:
#atrac

###############################################################################################################################

Juntando cargas e atrac

In [35]:
cargas_atrac = cargas.merge(atrac, how='inner', on='IDAtracacao')

In [38]:
cargas_atrac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523472 entries, 0 to 1523471
Data columns (total 29 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   IDCarga                         1523472 non-null  int64
 1   IDAtracacao                     1523472 non-null  int64
 2   Origem                          1523472 non-null  object
 3   Destino                         1523472 non-null  object
 4   Tipo Operação da Carga          1523472 non-null  object
 5   Carga Geral Acondicionamento    1523472 non-null  object
 6   ConteinerEstado                 1523472 non-null  object
 7   Tipo Navegação                  1523472 non-null  object
 8   FlagConteinerTamanho            1523472 non-null  int32
 9   Sentido                         1523472 non-null  object
 10  TEU                             1523472 non-null  int32
 11  Porto Atracação                 1523472 non-null  object
 12  Apelido Instalação Portuária    456994 non-null   object
 13  Complexo Portuário              1523472 non-null  object
 14  Tipo da Autoridade Portuária    1523472 non-null  object
 15  Data Atracação                  1523472 non-null  object
 16  Data Chegada                    1523472 non-null  object
 17  Data Desatracação               1523472 non-null  object
 18  Data Início Operação            1523472 non-null  object
 19  Data Término Operação           1523472 non-null  object
 20  Ano                             1523472 non-null  int64
 21  Mes                             1523472 non-null  object
 22  Tipo de Navegação da Atracação  1523472 non-null  object
 23  Nacionalidade do Armador        1523472 non-null  float64
 24  Terminal                        1523472 non-null  object
 25  Município                       1523472 non-null  object
 26  UF                              1523472 non-null  object
 27  SGUF                            1523472 non-null  object
 28  Região Geográfica               1523472 non-null  object
dtypes: float64(1), int32(2), int64(3), object(23)
memory usage: 337.1+ MB

In [43]:
cargas_atrac['Mes'].value_counts()

nov    139878
dez    139023
out    137969
jul    137116
ago    133615
mar    129376
mai    129219
jun    120885
set    116209
jan    115422
abr    113773
fev    110987
Name: Mes, dtype: int64

###############################################################################################################################

################################################ Agri Outlook ##################################################################

In [31]:
#Colunas do agri outlook

agri_outlook.columns

Index(['COUNTRY', 'Country', 'COMMODITY', 'Commodity', 'VARIABLE', 'Variable',
       'TIME', 'Time', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [44]:
agri_outlook = agri_outlook[['Commodity','Variable','Time','Value']] 

#Mantive 'Variable' pois soa interessante o porque do dado

In [48]:
agri_outlook['Variable'].value_counts()

Production, kt (for Biofuels in millions of litres)                           125
Imports, kt (for Biofuels in millions of litres)                              110
Producer price, local currency/t (for Biofuels local currency/ 100 litres)    110
Exports, kt (for Biofuels in millions of litres)                              110
Consumption, kt (for Biofuels in millions of litres)                          105
Trade balance, kt (for Biofuels in millions of litres)                        100
Food, kt                                                                       80
Consumption per capita, kg                                                     75
Ending stocks, kt (for Biofuels in millions of litres)                         65
Yield                                                                          40
Other use, kt (for Biofuels in millions of litres)                             30
Area harvested, 000 ha                                                         25
Feed, kt                                                                       25
Biofuel use, kt                                                                20
Crush, kt                                                                      10
Cow inventory, 000 hd                                                          10
Name: Variable, dtype: int64

In [54]:
novos_nomes = agri_outlook['Variable'].str.split(",",expand=True)

In [56]:
novos_nomes[0]

0           Production
1           Production
2           Production
3           Production
4           Production
             ...
1035    Producer price
1036    Producer price
1037    Producer price
1038    Producer price
1039    Producer price
Name: 0, Length: 1040, dtype: object

In [57]:
agri_outlook['Variable']=novos_nomes[0]

In [68]:
agri_outlook['Chave_var_comm'] = agri_outlook['Commodity']+" - "+agri_outlook['Variable']

In [72]:
agri_outlook.drop(columns=['Variable','Commodity'], inplace=True)

In [93]:
df_dummies_agri = pd.get_dummies(agri_outlook,columns=['Chave_var_comm'])

In [94]:
df_dummies_agri.head()

,Time,Value,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
0,2015,5423.046719,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,5659.012314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,5642.048576,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,5791.486958,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019,5733.874286,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
for i in range(0,len(df_dummies_agri)):
    for j in range(2,len(df_dummies_agri.columns.to_list())):
        df_dummies_agri.iloc[i,j] = df_dummies_agri.iloc[i,1] * df_dummies_agri.iloc[i,j]

In [99]:
df_dummies_agri_agg = df_dummies_agri.groupby('Time').sum()
df_dummies_agri_agg.drop(columns=['Value'],inplace=True)

In [100]:
df_dummies_agri_agg

,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,Chave_var_comm_Beef and veal (cwe) - Production,Chave_var_comm_Beef and veal (cwe) - Trade balance,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
Time,,,,,,,,,,,,,,,,,,,,,
2015,8976.079060,30.907241,52730.65745,0.0,1725.996754,8976.079060,93.819177,6572.366737,10608.25664,1632.177578,...,1151.206988,9643.371758,593.782421,2.920807,9.616232,593.782421,47.908834,6791.639220,555.489819,-38.292602
2016,9069.934419,30.996547,52371.83229,0.0,1729.482612,9069.934419,94.313580,6619.278597,10705.10345,1635.169032,...,1044.756828,9628.525938,606.658695,2.961799,9.321286,606.658695,48.929020,7068.430159,567.050961,-39.607734
2017,9208.506177,31.244412,52801.46068,0.0,1802.482784,9208.506177,94.492876,6972.223818,10916.49609,1707.989908,...,1087.976629,9083.088569,618.811304,2.999462,9.819252,618.811304,49.440650,7360.301315,579.189906,-39.621398
2018,9320.236587,31.406417,52529.80261,0.0,1835.443246,9320.236587,94.559498,7274.130990,11061.12034,1740.883748,...,1141.558778,10378.108060,630.495061,3.035115,10.378969,630.495061,50.501973,7634.814315,590.372057,-40.123003
2019,9339.610847,31.264778,52332.69831,0.0,1924.315717,9339.610847,94.584882,7406.214783,11169.34168,1829.730835,...,1166.874293,10781.395620,643.328290,3.076530,10.671056,643.328290,51.509701,7935.485765,602.489645,-40.838645

df_dummies_agri.loc[(df_dummies_agri['Commodity_Biodiesel'] == 1) &
                   (df_dummies_agri['Time'] == 2019)]

###############################################################################################################################

################################################ Commod. Price ################################################################

In [ ]:
comm_price.columns

In [ ]:
comm_price

In [ ]:
#Transforma a tabela pivotada numa tabela normal

comm_price = pd.DataFrame(comm_price.to_records())
#comm_price

In [ ]:
#Ajuda a tabela para um modo utilizável
#Temos que alterar melhor essa tabela para ela conversar com as demais *******************
#Trocar as linhas pelas colunas

comm_price.columns = comm_price.iloc[0]
comm_price = comm_price.drop([1,2,3,4])
comm_price = comm_price.set_index('PERIOD', drop=True)

#comm_price

In [ ]:
comm_price = comm_price.transpose()
comm_price = comm_price.drop('PERIOD', axis=1).reset_index()

#comm_price.head()

In [ ]:
#É preciso trocar a coluna PERIOD

meses_comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Meses_2015_2019.csv")
#meses_comm_price

In [ ]:
#Ajusta o nome da coluna bem como seus valores

comm_price[0] = meses_comm_price['Mes/ano']
comm_price.rename(columns={0:'Mes/ano'}, inplace=True)

In [ ]:
comm_price.columns

In [ ]:
comm_price

###############################################################################################################################

################################################ PIB ##########################################################################

In [ ]:
pib = pib[['Transaction', 'MEASURE', 'Measure',
       'TIME', 'Year', 'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags']]

In [ ]:
pib['Year'].value_counts()

In [ ]:
pib.columns

In [ ]:
pib.head()

In [ ]:
pib.loc[pib['Transaction'] == 'Wages and salaries']

In [ ]:
pib['Transaction'].value_counts()

In [ ]:
#Talvez essa base mais atrapalhe do que ajude. Primeiro que são levantamentos anuais,
#segundo que há pouco dados para cada "Transaction"

In [ ]:
#Os componentes do PIB apresentados nessa tabela talvez não nos ajudem se vistos isoladamente. 
#O valor "condensado" do PIB é mais útil ***************** PROCURAR ESSA INFO *************

#Verificar como um valor singular pode influenciar no algoritimo ML. Como um valor representativo, como o PIB (somente), pode 
#influenciar o ML 
#************************* VER COM O PROFESSOR

pib

###############################################################################################################################

############################################### Prod. Sales ###################################################################

In [ ]:
prod_sales.columns

In [ ]:
#Dados MENSAIS. Selção das colunas relevantes

prod_sales = prod_sales[['Subject', 'LOCATION', 'Country',
       'TIME', 'Time', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value']]

In [ ]:
#Seleção apenas de EUA e UE por serem grandes polos ligados ao COMEX BR

prod_sales = prod_sales.loc[prod_sales['Country'].isin(['Euro area','Brazil', 'United States'])]

In [ ]:
#Analisar quais "Subject" são relevantes

#'Production of total industry sa, Index' e 'Total retail trade (Volume) sa, Index' são bons indicadores

prod_sales['Subject'].value_counts()

#Teste para atestar a referencia do index - achamos q seja a média do ano para cada categoria - o resultado é um pouco diferente
prod_sales.loc[(prod_sales['Reference Period Code'] == '2015_100') &
              (prod_sales['Subject'] == 'Production of total industry sa, Index') &
              (prod_sales['LOCATION'] == 'USA')]['Value'].mean()

In [ ]:
prod_sales.reset_index(drop=True, inplace=True)
prod_sales

###############################################################################################################################

############################################### Tx. Desocupação ###############################################################

In [ ]:
#Não alterei nada. Tabela está boa para ser utilizada
taxa_desocupacao.head()

In [ ]:
taxa_desocupacao

###############################################################################################################################

####################################################### Infra Invest ##########################################################

In [ ]:
infra_invest.columns

In [ ]:
#Como ali em cima pegamos apenas EUA e UE, é pertinente aqui pegarmos EUA e GER (país europeu mais forte)

infra_invest = infra_invest[['Country', 'Variable', 'Measure',
       'YEAR', 'Year', 'Value']]

In [ ]:
infra_invest = infra_invest.loc[(infra_invest['Country'].isin(['United States','Germany'])) &
                               (infra_invest['Measure']== "Euro")]

In [ ]:
infra_invest.reset_index(drop=True, inplace=True)
infra_invest

In [ ]:
#Ponderar que o material usado na tabela "infra" são transportados a granel.

###############################################################################################################################

################################################## Weel-being #################################################################

In [ ]:
weel_being_15.columns

In [ ]:
weel_being_15 = weel_being_15[['TYPE_VAR', 'Indicator','Time', 'Value']]

In [ ]:
#weel_being_15.head()

In [ ]:
#Apenas esses indicadores pois são os únicos com 5 medições (2015-19)

weel_being_15 = weel_being_15.loc[weel_being_15['Indicator'].isin(['Social support','Feeling safe at night',
                                                                   'Households with internet access at home',
                                                                  'Employment rate'])]

In [ ]:
weel_being_15

###############################################################################################################################

######################################################### Dolar ###############################################################

In [ ]:
dolar.head()

###############################################################################################################################

As linhas a seguir não contemplam nada do que foi feito acima. Abaixo apenas está linhas que restaram de outra versão.

In [ ]:
#Join os dois dfs - Cargas e Atracação

#df_joined = pd.merge(carga_cont_CAB, atrac, on='IDAtracacao', how='left')
#df_joined

In [ ]:
#Associando a sigla da Origem com o Município

#df_joined.groupby('Origem').Município.value_counts()

In [ ]:
#Associando a sigla da Origem com o Terminal

#df_joined.groupby('Origem').Terminal.value_counts()