In [1]:
import pandas as pd
import numpy as np
print("Setup ok")

Setup ok

In [1]:
#### teste git

In [ ]:
noia = "lexo"
print(noia)

In [2]:
cargas = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Carga.txt",sep =";")

atrac = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Atracacao.txt",sep =";")

agri_outlook = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Agricultural Outlook.csv")

comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Commodity prices, monthly.csv")

pib = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Gross domestic product (GDP).csv")

prod_sales = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Production and Sales (MEI).csv")

taxa_desocupacao = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Taxa de desocupação.csv",sep =";")

infra_invest = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Transport infrastructure investment and maintenance spending.csv")

weel_being_15 = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Well-being 2015.csv")

dolar = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/USD_BRL Dados Históricos.csv")

#Acho que a capacidade de produção de aço não ajuda. Visto que estamos analisando a movimentacao de cntrs
#stell_capacity = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Steel Making Capacity.csv")

print("ok")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ok

##########################################  TRATAMENTO DE cargas  #############################################################

In [ ]:
#Colunas de cargas

cargas.columns

#Observar que o PIB deve ser linkado com a DATA DE CHEGADA
#Além disso, podemos fazer algumas análises de gráficos pré modelagem para introduzirmos o assunto

#atrac[['Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes']]

In [3]:
cargas = cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
       'Sentido', 'TEU']] 

#cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
#       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
#       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
#       'Sentido', 'TEU', 'QTCarga']].head()

#Colunas não selecionadas:
#       'FlagAutorizacao', 'FlagCabotagem',
#       'FlagCabotagemMovimentacao', 'FlagLongoCurso',
#       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
#       'Percurso Transporte em vias Interiores'
#Por motido de irrelevância. Em 'Percurso Transporte em vias Interiores' a coluna 'Tipo Navegação' já traz as infos necessárias
#'STNaturezaCarga','STSH2' e 'STSH4': Exclusivo ou Compartilhado. Irrelevante para o projeto
#'Natureza da Carga': totalmente completa como "Carga Conteinerizada". Logo, não é necessária sua presença
#'VLPesoCargaBruta' é proporcional a coluna 'TEU', logo não será utilizada
#'QTCarga' é igual ao TEU

In [38]:
#'Carga Geral Acondicionamento' é dividida em Contenerizada e Solta. 
#As linhas com valores NaN são dropados abaixo
#1667696 (com valor); 46821 (NaN)

cargas = cargas[cargas['Carga Geral Acondicionamento'].notnull()]
#Tira-se os TEUs decimais 
cargas = cargas.loc[(cargas['FlagConteinerTamanho'] != 'OUTROS') &
                    (cargas['FlagConteinerTamanho'].notnull())]
cargas['FlagConteinerTamanho'].replace({'40.0':'40','20.0':'20'}, inplace=True)
#Ajuste do tipo da coluna
cargas['FlagConteinerTamanho'].astype('int')
cargas['TEU'].astype('float')
cargas.reset_index(drop=True, inplace=True)
cargas.head()

,IDCarga,IDAtracacao,Origem,Destino,CDMercadoria,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,22G0,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,22G0,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [64]:
#'ConteinerEstado' é dividida em Cheio e Vazio.
#As linhas com valores NaN foram dropadas abaixo, tanto que a coluna "TEU" está zerada nas linhas com NaN em ConteinerEstado
#cargas[['ConteinerEstado', 'TEU']].loc[cargas['TEU'] == 0]['ConteinerEstado'].isna().sum() #Verificação

cargas = cargas[cargas['ConteinerEstado'].notnull()]
#cargas.head()

In [65]:
#'FlagConteinerTamanho' é complementada por 'TEU' e 'QTCarga'
#A coluna tem o valor "OUTROS" que pode ganhar o valor de 20 ou 40 a depender das colunas complementares
#Quando isso for feito, deve-se mudar o tipo da coluna para float
#******************************************************************************************************************** AQUI!
#Os valores OUTROS equivalem a pouco menos do que 1% dos dados. Vale a pena? 

cargas['FlagConteinerTamanho'].value_counts()

40        765331
20        441754
40.0      205857
20.0      124213
OUTROS     14692
Name: FlagConteinerTamanho, dtype: int64

In [66]:
#'Sentido' é dividida em Desembarcados, Embarcados e Não informados
#Os valores "Não Informados" são ignorados abaixo, uma vez q representam nem 2% de cada outro valor e nem 1% de todos os valores

cargas = cargas[cargas['Sentido']!= "Não Informado"]

In [67]:
#cargas

,IDCarga,IDAtracacao,Origem,Destino,CDMercadoria,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU,QTCarga
6,13809822,659251,BRSP008,BRCE001,22G0,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29,29
7,13809823,659251,BRSP008,BRCE001,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152,76
8,13809824,659251,BRSP008,BRSUA,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62,31
9,13809825,659251,BRSP008,BRAM006,42G0,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10,5
10,13809826,659251,BRSP008,BRAM006,22G0,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714205,20668799,889574,BRAM012,BRVDC,22G0,Movimentação de Carga,Conteinerizada,Vazio,Interior,20.0,Embarcados,1,1
1714206,20668800,889574,BRAM012,PAMIT,22G0,Movimentação de Carga,Conteinerizada,Vazio,Longo Curso,20.0,Embarcados,1,1
1714207,20668801,889574,BRAM012,BRVDC,22G0,Movimentação de Carga,Conteinerizada,Vazio,Interior,20.0,Embarcados,1,1
1714208,20668802,889574,BRAM012,PAMIT,22G0,Movimentação de Carga,Conteinerizada,Vazio,Longo Curso,20.0,Embarcados,1,1
1714209,20668803,889574,BRAM012,PAMIT,22G0,Movimentação de Carga,Conteinerizada,Vazio,Longo Curso,20.0,Embarcados,1,1

###############################################################################################################################

##########################################  TRATAMENTO DE atrac  ##############################################################

In [78]:
atrac

,IDAtracacao,CDTUP,IDBerco,Berço,Porto Atracação,Apelido Instalação Portuária,Complexo Portuário,Tipo da Autoridade Portuária,Data Atracação,Data Chegada,...,Tipo de Navegação da Atracação,Nacionalidade do Armador,FlagMCOperacaoAtracacao,Terminal,Município,UF,SGUF,Região Geográfica,Nº da Capitania,Nº do IMO
0,678383,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,08/03/2015 04:32:00,08/03/2015 04:32:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
1,686657,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,20/04/2015 06:00:00,20/04/2015 05:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
2,686656,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,30/04/2015 04:00:00,30/04/2015 03:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
3,720152,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,05/10/2015 15:00:00,05/10/2015 15:00:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
4,703856,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,19/07/2015 04:18:00,19/07/2015 04:18:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70464,884624,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,23/10/2015 21:55:00,23/10/2015 21:55:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011436409,NaN
70465,888124,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,11/08/2015 15:17:00,11/08/2015 15:17:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70466,884617,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,09/10/2015 08:40:00,09/10/2015 08:40:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70467,884570,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,04/11/2015 09:02:00,04/11/2015 09:02:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70468,884657,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,19/09/2015 08:15:00,19/09/2015 08:15:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN

In [74]:
#Colunas de atrac

atrac.columns

#'Nº da Capitania' não tem função para o trabalho

Index(['IDAtracacao', 'CDTUP', 'IDBerco', 'Berço', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Operação', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'FlagMCOperacaoAtracacao', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica', 'Nº da Capitania',
       'Nº do IMO'],
      dtype='object')

In [79]:
atrac = atrac[['IDAtracacao', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica']]

#atrac[['IDAtracacao', 'Porto Atracação',
#       'Apelido Instalação Portuária', 'Complexo Portuário',
#       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
#       'Nacionalidade do Armador', 'Terminal',
#       'Município', 'UF', 'SGUF', 'Região Geográfica']].head()

#Como essa tabela é suporte, poucas colunas vão interessar. Uma vez que será extraído dela o local dos portos e terminais.
#Colunas não selecionadas:
#'IDBerco', 'CDTUP', 'Berço', 'Tipo de Operação',
#'FlagMCOperacaoAtracacao', 'Nº da Capitania' e 'Nº do IMO' têm pouca relevância no estudo.

In [81]:
#'Apelido Instalação Portuária' é mantido por ora por segurança.

atrac[atrac['Apelido Instalação Portuária'].isna()]['Complexo Portuário'].value_counts()

Santos                           5488
Vitória                          4546
Vila do Conde - Belém            4496
Manaus                           3803
Rio Grande                       3619
Porto Velho                      2577
Corumbá                          2427
Santarém                         2185
Paranaguá - Antonina             2171
Rio de Janeiro -  Niterói        2071
Porto Alegre                     1991
Itaqui                           1199
São Francisco do Sul             1162
Aratu - Salvador                  746
Pecém - Fortaleza                 489
Óbidos                            435
Itajaí                            367
Itaguaí                           340
Maceió                            326
Não Classificado                  308
Imbituba                          229
Angra dos Reis                    184
Tomé Açu                          154
São Sebastião                     140
Cabedelo (Instalação Isolada)     117
São João da Barra                  97
Natal                              75
Almeirim                           40
Forno                              19
Suape - Recife                      3
Name: Complexo Portuário, dtype: int64

In [82]:
#atrac

,IDAtracacao,Porto Atracação,Apelido Instalação Portuária,Complexo Portuário,Tipo da Autoridade Portuária,Data Atracação,Data Chegada,Data Desatracação,Data Início Operação,Data Término Operação,Ano,Mes,Tipo de Navegação da Atracação,Nacionalidade do Armador,Terminal,Município,UF,SGUF,Região Geográfica
0,678383,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,08/03/2015 04:32:00,08/03/2015 04:32:00,08/03/2015 06:40:00,08/03/2015 04:32:00,08/03/2015 06:40:00,2015,mar,Interior,1.0,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte
1,686657,Carinhoso,NaN,Manaus,Porto Privado,20/04/2015 06:00:00,20/04/2015 05:00:00,20/04/2015 07:00:00,20/04/2015 06:00:00,20/04/2015 07:00:00,2015,abr,Interior,1.0,Carinhoso,Manaus,Amazonas,AM,Norte
2,686656,Carinhoso,NaN,Manaus,Porto Privado,30/04/2015 04:00:00,30/04/2015 03:00:00,30/04/2015 05:00:00,30/04/2015 04:00:00,30/04/2015 05:00:00,2015,abr,Interior,1.0,Carinhoso,Manaus,Amazonas,AM,Norte
3,720152,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,05/10/2015 15:00:00,05/10/2015 15:00:00,05/10/2015 17:40:00,05/10/2015 15:00:00,05/10/2015 17:40:00,2015,out,Interior,1.0,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte
4,703856,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,19/07/2015 04:18:00,19/07/2015 04:18:00,19/07/2015 06:35:00,19/07/2015 04:18:00,19/07/2015 06:35:00,2015,jul,Interior,1.0,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70464,884624,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,23/10/2015 21:55:00,23/10/2015 21:55:00,24/10/2015 05:50:00,23/10/2015 22:43:00,24/10/2015 03:55:00,2015,out,Interior,1.0,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte
70465,888124,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,11/08/2015 15:17:00,11/08/2015 15:17:00,11/08/2015 17:38:00,11/08/2015 15:40:00,11/08/2015 17:04:00,2015,ago,Interior,1.0,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte
70466,884617,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,09/10/2015 08:40:00,09/10/2015 08:40:00,09/10/2015 12:05:00,09/10/2015 10:15:00,09/10/2015 11:12:00,2015,out,Interior,1.0,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte
70467,884570,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,04/11/2015 09:02:00,04/11/2015 09:02:00,04/11/2015 14:18:00,04/11/2015 09:35:00,04/11/2015 11:15:00,2015,nov,Interior,1.0,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte
70468,884657,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,19/09/2015 08:15:00,19/09/2015 08:15:00,19/09/2015 12:05:00,19/09/2015 09:40:00,19/09/2015 11:15:00,2015,set,Interior,1.0,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte

###############################################################################################################################

################################################ Agri Outlook ##################################################################

In [ ]:
#Colunas do agri outlook

agri_outlook.columns

In [ ]:
agri_outlook = agri_outlook[['Commodity','Variable','Time','Value']] 

#Mantive 'Variable' pois soa interessante o porque do dado

In [83]:
#agri_outlook

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,BRA,Brazil,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2015,2015,5423.046719,NaN,NaN
1,BRA,Brazil,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2016,2016,5659.012314,NaN,NaN
2,BRA,Brazil,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2017,2017,5642.048576,NaN,NaN
3,BRA,Brazil,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2018,2018,5791.486958,NaN,NaN
4,BRA,Brazil,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2019,2019,5733.874286,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1035,BRA,Brazil,SCA,Sugar cane,PP,"Producer price, local currency/t (for Biofuels...",2015,2015,48.018969,NaN,NaN
1036,BRA,Brazil,SCA,Sugar cane,PP,"Producer price, local currency/t (for Biofuels...",2016,2016,49.743672,NaN,NaN
1037,BRA,Brazil,SCA,Sugar cane,PP,"Producer price, local currency/t (for Biofuels...",2017,2017,50.124688,NaN,NaN
1038,BRA,Brazil,SCA,Sugar cane,PP,"Producer price, local currency/t (for Biofuels...",2018,2018,52.009225,NaN,NaN
1039,BRA,Brazil,SCA,Sugar cane,PP,"Producer price, local currency/t (for Biofuels...",2019,2019,53.374245,NaN,NaN

###############################################################################################################################

################################################ Commod. Price ################################################################

In [98]:
comm_price.columns

Index(['MEASURE - Prices'], dtype='object')

In [99]:
comm_price

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           MEASURE - Prices
PERIOD                                             Jan. 2015         Feb. 2015         Mar. 2015         Apr. 2015         May  2015         June 2015         Jul. 2015         Aug. 2015         Sep. 2015         Oct. 2015         Nov. 2015         Dec. 2015         Jan. 2016         Feb. 2016         Mar. 2016         Apr. 2016         May  2016         June 2016         Jul. 2016         Aug. 2016         Sep. 2016         Oct. 2016 Nov. 2016         Dec. 2016         Jan. 2017         Feb. 2017         Mar. 2017         Apr. 2017         May  2017         June 2017         Jul. 2017         Aug. 2017         Sep. 2017         Oct. 2017         Nov. 2017         Dec. 2017         Jan. 2018         Feb. 2018         Mar. 2018         Apr. 2018         May  2018         June 2018         Jul. 2018         Aug. 2018         Sep. 2018         Oct. 2018         Nov. 2018         Dec. 2018         Jan. 2019         Feb. 2019         Mar. 2019         Apr. 2019         May  2019         June 2019         Jul. 2019         Aug. 2019         Sep. 2019 Oct. 2019         Nov. 2019                  Dec. 2019
COMMODITY                                          NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN       NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN       NaN               NaN                              NaN
All groups                                         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
  All food                                         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
    Food                                           _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
      Bananas, Central and South America, FOT, ... 0.9               1                 1.03              1.03              0.94              0.92              0.93              0.95              0.94              0.93              0.93              0.93              1.04              1.05              1.01              0.99              0.98              0.99              1                 1.04              0.99              0.96      0.95              0.95              1                 1.05              1.06              1.06              1.08              1.09              1.09              1.09              1.09              1.08              1.07              1.09              1.13              1.26              1.16              1.15              1.15              1.15              1.13              1.1               1.11              1.12              1.12              1.12              1.13              1.15              1.17              1.16              1.12              1.12              1.12              1.12              1.15      1.13              1.12                            1.13
      Bananas, Central America, Main Brands (av... 0.97              1.11              1.14              1                 0.98              0.95              0.96              0.96              0.95              0.94              0.93              0.93              0.95              1                 0.98              0.96              0.94              0.94              0.95              0.95              0.94              0.94      0.93              0.91              0.91              0.93              0.94              0.95              0.94              0.94              0.94              0.93              0.93              0.93              0.92              0.92              0.98              1.37              1.22              1.03              0.98              0.98              0.95              0.91              0.91              ..                ..                ..                ..                ..                ..                ..                ..                ..                ..                ..                ..        ..                ..                                ..
      Beef, Australia/New Zealand, frozen, CIF ... 5.29              4.88              4.71              4.81              4.49              4.43              4.64              4.76              4.58              4.23              4.02              3.8               3.63              3.86              4.03              3.96              4.04              4.1               4.25              4.23              4.11              4.03      4.29              4.14              4.07              4.22              4.34              4.41              4.6               4.67              4.66              4.47              4.3               4.25              4.33              4.28              4.29              4.35              4.43              4.37              4.32              4.24              4.18              4.11              4.01              3.86              3.94              4.18              4.24              4.27              4.47              4.69              4.6               4.62              4.62              4.59              4.65      4.85              5.93                            5.56
      Maize, Argentina, Rosario, Up River, FOB ... 184.77            177.53            168.84            168.47            169.46            170.27            175.88            159.37            160.94            162.57            167.39            165.42            161.51            167.02            161.92            171.82            185.45            196.34            179.06            177.85            170.92            175.04    177.63            180.39            184.51            179.03            164.3             163.72            162.03            155.41            149.55            149.4             150.01            148.72            149.7             159.05            163.53            175.51            188.25            190.13            191.63            170.7             164.88            167.33            159.24            162.57            161               172.16            174.13            171.99            161.7             156.22            165.35            181.61            176.99            153.42            145.91    155.23            166.43                        172.78
      Maize, United States, n� 3 yellow, FOB Gu... 180.92            180.18            177.4             177.23            170.95            173               185.13            167.24            175.12            178.55            170.34            170.12            168.52            165.89            161.92            167.13            174.53            187.67            174.14            168.1             163.36            165.89    161.98            159.44            168.37            168.69            162.96            158.02            160.26            162.26            162.05            158.7             157.49            157.67            155.8             157.47            163.33            169.01            185.7             192.68            193.4             172.75            164.09            169.07            157.8             165.42            164.38            170.79            171.57            175.63            172.47            165.86            177.32            199.64            200.04            172.31            161.26    172.55            172.8                         173.17
      Rice, Thailand, white milled, 5% broken, ... 420               420               410               399               381               376               392               373               357               373               368               363               369               384               384               395               433               441               442               415               384               369       365               373               377               367               370               380               421               458               417               393               402               394               402               406               442               425               430               451               451               427               398               405               405               409               401               404               410               408               406               413               409               420               416               430               427       424               421                              432
      Salmon, fresh, fish-farm bred, export pri... 5.78              5.57              5.17              5.1               5.08              5.24              5.39              5.28              5.07              5.02              5.18              5.94              6.33              6.39              6.94              7.02              7.34              7.76              7.82              7.04              6.67              7.35      7.3               8.029999999999999 8.59              7.76              7.18              7.41              8.23              8.08              7.86              7.35              7.08              6.84              6.22              6.43              7.22              7.36              8.68              8.720000000000001 9.17              7.68              6.9               6.67              7.4               7.04              6.65              6.99              7.43              6.72              7.95              8.07              7.09              7.42              7.04              6.02              5.55      5.63              6.36                            7.92
      Shrimps, brown, no. 1, shell-on, headless... 17.41             17.48             17.45             16.92             15.86             13.79             12.25             10.39             8.76              8.699999999999999 9.630000000000001 9.880000000000001 10.47             10.8              10.67             10.52             10.47             10.47             10.47             10.84             11.88             12.29     12.49             13.2              13.41             13.64             13.77             13.77             14.29             14.85             14.72             12.84             12.12             11.95             12.17             12.23             12.35             12.73             12.78             12.82             12.89             12.53             12.23             12.01             11.53             11.46             11.66             11.79             11.79             11.79             11.79             11.79             11.79             11.97             12.94             13.05             13.22     13.4              13.68                          13.95
      Soybean meal, in bulk, 45/46% protein, Ha... 442.64            418.25            412.36            398.09            386.12            387               407.09            385.86            374.45            372.68            350.57            338.35            336.48            323.29            319.13            346.19            421.64            467.73            439.9             398.7             368.05            361.88    357               355.95            371.05            373.6             360.7             345.7             344.35            330.32            340.86            330.17            342.07            353.27            350.91            359.9             375.74            421.13            445.36            461.62            459.17            421.33            406.64            388.04            377.15            379.31            366.2             361.02            362.01            353.34            344.63            341.53            339.18            362.6             348.73            337.36            333.13    341.76            347.32                        352.68
      Sugar, average of I.S.A. daily prices, FO... 15.34             14.59             13.15             13.07             13.33             12.46             12.77             11.49             11.86             13.9              14.54             14.64             14.05             13.28             15.43             15.22             17.01             19.45             19.59             20.12             21.52             22.22     20.29             18.49             20.32             20.28             18.07             16.44             16.06             13.9              14.64             14.36             14.38             14.33             14.97             14.38             14.09             13.57             13.07             12.03             12.35             12.5              11.72             11.08             11.37             13.28             12.91             12.65             12.8              12.96             12.71             12.8              12.39             12.91             12.82             12.31             12.39     12.56             12.79                          13.41
      Wheat, Argentina, Trigo Pan, Up River, FO... 253               241               229               227               227               226               230               226               223               223               206               191               194               194               192               198               202               210               210               215               201               183       176               169               177               186               191               189               189               190               193               192               185               185               179               177.6             178.25            187.5             211.6             230.5             263.5             266.8             245.75            241.2             234               233.5             220.8             229.75            234.25            245               229.6             220.25            222.4             244.75            244               237               228.5     228               197.8                         202.25

In [100]:
#Transforma a tabela pivotada numa tabela normal

comm_price = pd.DataFrame(comm_price.to_records())
#comm_price

In [101]:
#Ajuda a tabela para um modo utilizável
#Temos que alterar melhor essa tabela para ela conversar com as demais *******************
#Trocar as linhas pelas colunas

comm_price.columns = comm_price.iloc[0]
comm_price = comm_price.drop([1,2,3,4])
comm_price = comm_price.set_index('PERIOD', drop=True)

#comm_price

In [102]:
comm_price = comm_price.transpose()
comm_price = comm_price.drop('PERIOD', axis=1).reset_index()

#comm_price.head()

In [103]:
#É preciso trocar a coluna PERIOD

meses_comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Meses_2015_2019.csv")
#meses_comm_price

In [104]:
#Ajusta o nome da coluna bem como seus valores

comm_price[0] = meses_comm_price['Mes/ano']
comm_price.rename(columns={0:'Mes/ano'}, inplace=True)

In [105]:
comm_price

PERIOD,Mes/ano,"Bananas, Central and South America, FOT, US import price ($/kg)","Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)","Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)","Maize, Argentina, Rosario, Up River, FOB ($/t)","Maize, United States, n� 3 yellow, FOB Gulf ($/t)","Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)","Salmon, fresh, fish-farm bred, export price, Norway ($/kg)","Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)","Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)",...,"Tropical logs, Okoume (60% CI, 40% CE, 20% CS), West Africa, FOB ($/m3)","Tropical logs, Sapele, high quality (loyal and marchand), FOB, Cameroon ($/m3)","Minerals, ores and metals","Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)","Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)","Zinc, Prime Western, delivered, North America (�/lb.)",Fuels,"Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)","Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)","Natural gas, index, Europe, United States and Japan (2010=100)"
0,jan/15,0.9,0.97,5.29,184.77,180.92,420,5.78,17.41,442.64,...,380.8,407.61,_,..,119.5,104.37,_,45.98,48.07,91.05
1,fev/15,1,1.11,4.88,177.53,180.18,420,5.57,17.48,418.25,...,363.2,397.49,_,..,121.25,103.89,_,55.83,57.93,83.52
2,mar/15,1.03,1.14,4.71,168.84,177.4,410,5.17,17.45,412.36,...,308.1,379.19,_,..,123,100.4,_,54.91,55.79,82.15000000000001
3,abr/15,1.03,1,4.81,168.47,177.23,399,5.1,16.92,398.09,...,258.7,377.75,_,..,114.12,108.35,_,58.8,59.39,70.94
4,mai/15,0.94,0.98,4.49,169.46,170.95,381,5.08,15.86,386.12,...,267.6,390.77,_,..,110.5,111.86,_,63.69,64.56,72.56
5,jun/15,0.92,0.95,4.43,170.27,173,376,5.24,13.79,387,...,269.2,392.45,_,..,118.9,102.34,_,61.78,62.34,71.54000000000001
6,jul/15,0.93,0.96,4.64,175.88,185.13,392,5.39,12.25,407.09,...,261.1,385.14,_,..,121,98.81,_,56.25,55.87,72.62000000000001
7,ago/15,0.95,0.96,4.76,159.37,167.24,373,5.28,10.39,385.86,...,261.8,389.79,_,..,121,89.90000000000001,_,47.22,46.99,70.36
8,set/15,0.94,0.95,4.58,160.94,175.12,357,5.07,8.76,374.45,...,246.9,393.01,_,..,124,85.56999999999999,_,46.15,47.24,68.95999999999999
9,out/15,0.93,0.94,4.23,162.57,178.55,373,5.02,8.699999999999999,372.68,...,241.5,393.29,_,..,123.5,85.88,_,46.55,48.12,63.61
10,nov/15,0.93,0.93,4.02,167.39,170.34,368,5.18,9.630000000000001,350.57,...,220.1,375.86,_,..,123.5,79.06999999999999,_,42.22,44.42,57.82
11,dez/15,0.93,0.93,3.8,165.42,170.12,363,5.94,9.880000000000001,338.35,...,217.5,380.55,_,..,123.5,76.04000000000001,_,34.77,37.72,53.71
12,jan/16,1.04,0.95,3.63,161.51,168.52,369,6.33,10.47,336.48,...,217.2,380.2,_,..,122.6,75.09999999999999,_,27,30.8,54.22
13,fev/16,1.05,1,3.86,167.02,165.89,384,6.39,10.8,323.29,...,221.8,388.43,_,..,114.5,84.54000000000001,_,29.5,33.2,48.43
14,mar/16,1.01,0.98,4.03,161.92,161.92,384,6.94,10.67,319.13,...,235.9,388.88,_,..,114.5,88.69,_,35.18,39.07,44.49
15,abr/16,0.99,0.96,3.96,171.82,167.13,395,7.02,10.52,346.19,...,226.8,396.72,_,..,114.12,90.48,_,39.04,42.25,46.62
16,mai/16,0.98,0.94,4.04,185.45,174.53,433,7.34,10.47,421.64,...,226.2,395.81,_,..,110.5,91.37000000000001,_,43.95,47.13,48.16
17,jun/16,0.99,0.94,4.1,196.34,187.67,441,7.76,10.47,467.73,...,224.6,393.15,_,..,110.5,98.51000000000001,_,45.83,48.48,58.11
18,jul/16,1,0.95,4.25,179.06,174.14,442,7.82,10.47,439.9,...,221.4,387.34,_,..,110.5,105.85,_,42.62,45.07,60.65
19,ago/16,1.04,0.95,4.23,177.85,168.1,415,7.04,10.84,398.7,...,235.4,392.31,_,..,109.75,110.21,_,43.74,46.14,57.97
20,set/16,0.99,0.94,4.11,170.92,163.36,384,6.67,11.88,368.05,...,235.5,392.42,_,..,109,110.44,_,43.74,46.19,61.38
21,out/16,0.96,0.94,4.03,175.04,165.89,369,7.35,12.29,361.88,...,231.5,386.01,_,..,109,111.21,_,48.26,49.73,66.36
22,nov/16,0.95,0.93,4.29,177.63,161.98,365,7.3,12.49,357,...,226.7,378.31,_,..,103,122.77,_,43.77,46.44,62.57
23,dez/16,0.95,0.91,4.14,180.39,159.44,373,8.029999999999999,13.2,355.95,...,221.4,369.25,_,..,97.5,127.18,_,51.78,54.07,74.42
24,jan/17,1,0.91,4.07,184.51,168.37,377,8.59,13.41,371.05,...,222.9,371.59,_,..,96.87000000000001,129.2,_,53.37,54.89,74.25
25,fev/17,1.05,0.93,4.22,179.03,168.69,367,7.76,13.64,373.6,...,223.5,372.43,_,..,95,135.6,_,54.17,55.49,68.75
26,mar/17,1.06,0.94,4.34,164.3,162.96,370,7.18,13.77,360.7,...,224.4,374.04,_,..,97.5,134.05,_,51.16,51.97,64.42
27,abr/17,1.06,0.95,4.41,163.72,158.02,380,7.41,13.77,345.7,...,252,374.95,_,..,95.62000000000001,127.75,_,52.45,52.98,67.18000000000001
28,mai/17,1.08,0.94,4.6,162.03,160.26,421,8.23,14.29,344.35,...,270.9,386.75,_,..,92.5,126.02,_,50.31,50.87,68.15000000000001
29,jun/17,1.09,0.94,4.67,155.41,162.26,458,8.08,14.85,330.32,...,275.1,392.94,_,..,92.5,125.18,_,46.44,46.89,64.95999999999999
30,jul/17,1.09,0.94,4.66,149.55,162.05,417,7.86,14.72,340.86,...,282,402.74,_,..,92.5,134.83,_,47.63,48.69,65.75
31,ago/17,1.09,0.93,4.47,149.4,158.7,393,7.35,12.84,330.17,...,289.3,413.24,_,..,88.75,143.91,_,50.43,51.37,66.99
32,set/17,1.09,0.93,4.3,150.01,157.49,402,7.08,12.12,342.07,...,288.93,417.2,_,..,85,150.01,_,53.86,55.16,70.17
33,out/17,1.08,0.93,4.25,148.72,157.67,394,6.84,11.95,353.27,...,288,411.56,_,..,80,157,_,55.58,57.62,69.77
34,nov/17,1.07,0.92,4.33,149.7,155.8,402,6.22,12.17,350.91,...,287.55,410.86,_,..,80,155.01,_,60.58,62.57,73.87000000000001
35,dez/17,1.09,0.92,4.28,159.05,157.47,406,6.43,12.23,359.9,...,289.76,414.33,_,..,80,152.8,_,61.41,64.20999999999999,73.29000000000001
36,jan/18,1.13,0.98,4.29,163.53,163.33,442,7.22,12.35,375.74,...,304.9,426.68,_,..,80,164.36,_,66.02,68.99,84.81999999999999
37,fev/18,1.26,1.37,4.35,175.51,169.01,425,7.36,12.73,421.13,...,308.53,432.53,_,..,82.5,169.06,_,62.79,65.42,71.03
38,mar/18,1.16,1.22,4.43,188.25,185.7,430,8.68,12.78,445.36,...,308.24,431.69,_,..,84.7,157.07,_,63.29,66.45,71.45999999999999
39,abr/18,1.15,1.03,4.37,190.13,192.68,451,8.720000000000001,12.82,461.62,...,306.76,429.73,_,..,88,153.18,_,68.43000000000001,71.63,73.51000000000001
40,mai/18,1.15,0.98,4.32,191.63,193.4,451,9.17,12.89,459.17,...,295.11,413.87,_,..,88,147.2,_,73.66,76.65000000000001,76.5
41,jun/18,1.15,0.98,4.24,170.7,172.75,427,7.68,12.53,421.33,...,291.93,408.8,_,..,86.8,148.5,_,73.22,75.19,78.33
42,jul/18,1.13,0.95,4.18,164.88,164.09,398,6.9,12.23,406.64,...,289.2,408.83,_,..,86.88,128.84,_,72.72,74.44,77.5
43,ago/18,1.1,0.91,4.11,167.33,169.07,405,6.67,12.01,388.04,...,282.95,404.11,_,..,87.5,122.13,_,72.13,73.13,81.70999999999999
44,set/18,1.11,0.91,4.01,159.24,157.8,405,7.4,11.53,377.15,...,285.85,408.06,_,..,87.5,118.74,_,77.02,78.86,89.16
45,out/18,1.12,..,3.86,162.57,165.42,409,7.04,11.46,379.31,...,281.35,402.04,_,..,91.25,129.65,_,78.95999999999999,80.47,89.56999999999999
46,nov/18,1.12,..,3.94,161,164.38,401,6.65,11.66,366.2,...,278.42,397.67,_,..,92.5,126.11,_,65.11,65.17,97.36
47,dez/18,1.12,..,4.18,172.16,170.79,404,6.99,11.79,361.02,...,250.35,398.54,_,..,99.17,127.69,_,56.47,56.46,94.40000000000001
48,jan/19,1.13,..,4.24,174.13,171.57,410,7.43,11.79,362.01,...,251.22,399.73,_,..,102.5,124.74,_,58.96,59.27,79.97
49,fev/19,1.15,..,4.27,171.99,175.63,408,6.72,11.79,353.34,...,249.61,397.32,_,..,102.5,131.17,_,64.31999999999999,64.13,69.41
50,mar/19,1.17,..,4.47,161.7,172.47,406,7.95,11.79,344.63,...,248.52,395.74,_,..,98.5,137.83,_,66.8,66.41,67.81999999999999
51,abr/19,1.16,..,4.69,156.22,165.86,413,8.07,11.79,341.53,...,247.19,393.43,_,..,97.5,141.87,_,70.66,71.2,62.4
52,mai/19,1.12,..,4.6,165.35,177.32,409,7.09,11.79,339.18,...,246.11,391.47,_,..,97.5,133.37,_,69.13,70.53,59.25
53,jun/19,1.12,..,4.62,181.61,199.64,420,7.42,11.97,362.6,...,248.48,395.22,_,..,97.5,126.06,_,61.3,63.3,52.76
54,jul/19,1.12,..,4.62,176.99,200.04,416,7.04,12.94,348.73,...,246.71,392.7,_,..,80,118.63,_,62.91,64,52.52
55,ago/19,1.12,..,4.59,153.42,172.31,430,6.02,13.05,337.36,...,244.74,389.41,_,..,78,111.44,_,58.92,59.25,51.82
56,set/19,1.15,..,4.65,145.91,161.26,427,5.55,13.22,333.13,...,242.17,385.28,_,..,77.5,113.93,_,60.84,62.33,58.09
57,out/19,1.13,..,4.85,155.23,172.55,424,5.63,13.4,341.76,...,243.18,386.85,_,..,77.5,119.71,_,58.47,59.37,58.16
58,nov/19,1.12,..,5.93,166.43,172.8,421,6.36,13.68,347.32,...,243.08,386.89,_,..,74,119.1,_,61.41,62.74,63.26
59,dez/19,1.13,..,5.56,172.78,173.17,432,7.92,13.95,352.68,...,244.45,388.92,_,..,72.5,111.69,_,64.41,65.84999999999999,55.54

###############################################################################################################################

################################################ PIB ##########################################################################

In [ ]:
pib = pib[['Transaction', 'MEASURE', 'Measure',
       'TIME', 'Year', 'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags']]

In [ ]:
pib['Year'].value_counts()

In [ ]:
pib.columns

In [ ]:
pib.head()

In [ ]:
pib.loc[pib['Transaction'] == 'Wages and salaries']

In [ ]:
pib['Transaction'].value_counts()

In [ ]:
#Talvez essa base mais atrapalhe do que ajude. Primeiro que são levantamentos anuais,
#segundo que há pouco dados para cada "Transaction"

In [84]:
pib

,LOCATION,Country,TRANSACT,Transaction,MEASURE,Measure,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,BRA,Brazil,P3_P5,Domestic demand,C,Current prices,2015,2015,BRL,Brazilian Real,6,Millions,NaN,NaN,6064933.000,NaN,NaN
1,BRA,Brazil,P3_P5,Domestic demand,C,Current prices,2016,2016,BRL,Brazilian Real,6,Millions,NaN,NaN,6244271.000,NaN,NaN
2,BRA,Brazil,P3_P5,Domestic demand,C,Current prices,2017,2017,BRL,Brazilian Real,6,Millions,NaN,NaN,6538182.000,NaN,NaN
3,BRA,Brazil,P3_P5,Domestic demand,C,Current prices,2018,2018,BRL,Brazilian Real,6,Millions,NaN,NaN,6976559.000,NaN,NaN
4,BRA,Brazil,P51,Gross fixed capital formation,C,Current prices,2015,2015,BRL,Brazilian Real,6,Millions,NaN,NaN,1069397.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2214,BRA,Brazil,D2S1,Taxes on production and imports,VXCOB,"Current prices, constant exchange rates, OECD ...",2018,2018,USD,US Dollar,6,Millions,2015.0,2015.0,331478.117,NaN,NaN
2215,BRA,Brazil,D3S1,Subsidies on production and imports,VXCOB,"Current prices, constant exchange rates, OECD ...",2015,2015,USD,US Dollar,6,Millions,2015.0,2015.0,7800.645,NaN,NaN
2216,BRA,Brazil,D3S1,Subsidies on production and imports,VXCOB,"Current prices, constant exchange rates, OECD ...",2016,2016,USD,US Dollar,6,Millions,2015.0,2015.0,8626.939,NaN,NaN
2217,BRA,Brazil,D3S1,Subsidies on production and imports,VXCOB,"Current prices, constant exchange rates, OECD ...",2017,2017,USD,US Dollar,6,Millions,2015.0,2015.0,7188.064,NaN,NaN
2218,BRA,Brazil,D3S1,Subsidies on production and imports,VXCOB,"Current prices, constant exchange rates, OECD ...",2018,2018,USD,US Dollar,6,Millions,2015.0,2015.0,7706.263,NaN,NaN

###############################################################################################################################

############################################### Prod. Sales ###################################################################

In [92]:
prod_sales.columns

Index(['SUBJECT', 'Subject', 'LOCATION', 'Country', 'FREQUENCY', 'Frequency',
       'TIME', 'Time', 'Unit Code', 'Unit', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [93]:
#Dados MENSAIS. Selção das colunas relevantes

prod_sales = prod_sales[['Subject', 'LOCATION', 'Country',
       'TIME', 'Time', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value']]

In [94]:
#Seleção apenas de EUA e UE por serem grandes polos ligados ao COMEX BR

prod_sales = prod_sales.loc[prod_sales['Country'].isin(['Euro area','Brazil', 'United States'])]

In [95]:
#Analisar quais "Subject" são relevantes

prod_sales['Subject'].value_counts()

Total retail trade (Volume) sa, Index                            120
Production of total industry sa, Index                           120
Production in total manufacturing sa, Index                      120
Production of total construction sa, Index                       108
Passenger car registrations sa, Index                             60
Work started for dwellings sa, Index                              60
Production of total manufactured intermediate goods sa, Index     48
Name: Subject, dtype: int64

In [40]:
prod_sales.reset_index(drop=True, inplace=True)
prod_sales

,SUBJECT,Subject,LOCATION,Country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-01,Jan-2015,IDX,Index,0,Units,2010_100,2010=100,102.37680,NaN,NaN
1,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-02,Feb-2015,IDX,Index,0,Units,2010_100,2010=100,102.19530,NaN,NaN
2,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-03,Mar-2015,IDX,Index,0,Units,2010_100,2010=100,106.07450,NaN,NaN
3,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-04,Apr-2015,IDX,Index,0,Units,2010_100,2010=100,94.42778,NaN,NaN
4,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-05,May-2015,IDX,Index,0,Units,2010_100,2010=100,98.55822,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17447,PRENTO01,"Production of total energy sa, Index",CRI,Costa Rica,M,Monthly,2019-08,Aug-2019,IDX,Index,0,Units,2010_100,2010=100,106.12290,NaN,NaN
17448,PRENTO01,"Production of total energy sa, Index",CRI,Costa Rica,M,Monthly,2019-09,Sep-2019,IDX,Index,0,Units,2010_100,2010=100,105.00190,NaN,NaN
17449,PRENTO01,"Production of total energy sa, Index",CRI,Costa Rica,M,Monthly,2019-10,Oct-2019,IDX,Index,0,Units,2010_100,2010=100,104.49350,NaN,NaN
17450,PRENTO01,"Production of total energy sa, Index",CRI,Costa Rica,M,Monthly,2019-11,Nov-2019,IDX,Index,0,Units,2010_100,2010=100,104.88510,NaN,NaN
17451,PRENTO01,"Production of total energy sa, Index",CRI,Costa Rica,M,Monthly,2019-12,Dec-2019,IDX,Index,0,Units,2010_100,2010=100,104.30220,NaN,NaN

###############################################################################################################################

############################################### Tx. Desocupação ###############################################################

In [10]:
#Não alterei nada. Tabela está boa para ser utilizada
taxa_desocupacao.head()

  M�s/Ano  Ratio
0  jan/15    6.8
1  fev/15    7.4
2  mar/15    7.9
3  abr/15    8.0
4  mai/15    8.1

In [106]:
taxa_desocupacao

   Mes/Ano  Ratio
0   jan/15    6.8
1   fev/15    7.4
2   mar/15    7.9
3   abr/15    8.0
4   mai/15    8.1
5   jun/15    8.3
6   jul/15    8.5
7   ago/15    8.7
8   set/15    8.9
9   out/15    8.9
10  nov/15    9.0
11  dez/15    8.9
12  jan/16    9.5
13  fev/16   10.2
14  mar/16   10.9
15  abr/16   11.2
16  mai/16   11.2
17  jun/16   11.3
18  jul/16   11.6
19  ago/16   11.8
20  set/16   11.8
21  out/16   11.8
22  nov/16   11.8
23  dez/16   12.0
24  jan/17   12.6
25  fev/17   13.2
26  mar/17   13.7
27  abr/17   13.6
28  mai/17   13.3
29  jun/17   13.0
30  jul/17   12.8
31  ago/17   12.6
32  set/17   12.4
33  out/17   12.2
34  nov/17   12.0
35  dez/17   11.8
36  jan/18   12.2
37  fev/18   12.6
38  mar/18   13.1
39  abr/18   12.9
40  mai/18   12.7
41  jun/18   12.4
42  jul/18   12.3
43  ago/18   12.1
44  set/18   11.9
45  out/18   11.7
46  nov/18   11.6
47  dez/18   11.6
48  jan/19   12.0
49  fev/19   12.4
50  mar/19   12.7
51  abr/19   12.5
52  mai/19   12.3
53  jun/19   12.0
54  jul/19   11.8
55  ago/19   11.8
56  set/19   11.8
57  out/19   11.6
58  nov/19   11.2
59  dez/19   11.0

###############################################################################################################################

####################################################### Infra Invest ##########################################################

In [112]:
infra_invest.columns

Index(['COUNTRY', 'Country', 'VARIABLE', 'Variable', 'MEASURE', 'Measure',
       'YEAR', 'Year', 'Unit Code', 'Unit', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [113]:
#Como ali em cima pegamos apenas EUA e UE, é pertinente aqui pegarmos EUA e GER (país europeu mais forte)

infra_invest = infra_invest[['Country', 'Variable', 'Measure',
       'YEAR', 'Year', 'Value']]

In [114]:
infra_invest = infra_invest.loc[(infra_invest['Country'].isin(['United States','Germany'])) &
                               (infra_invest['Measure']== "Euro")]

In [41]:
infra_invest.reset_index(drop=True, inplace=True)
infra_invest

,COUNTRY,Country,VARIABLE,Variable,MEASURE,Measure,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,I-INV-TOT-INLD,Total inland transport infrastructure investment,NAT,National currency,2015,2015,AUD,Australian Dollar,0,Units,NaN,NaN,1.957000e+10,NaN,NaN
1,AUS,Australia,I-INV-TOT-INLD,Total inland transport infrastructure investment,NAT,National currency,2016,2016,AUD,Australian Dollar,0,Units,NaN,NaN,2.146200e+10,NaN,NaN
2,AUS,Australia,I-INV-TOT-INLD,Total inland transport infrastructure investment,NAT,National currency,2017,2017,AUD,Australian Dollar,0,Units,NaN,NaN,2.574146e+10,NaN,NaN
3,AUS,Australia,I-INV-TOT-INLD,Total inland transport infrastructure investment,NAT,National currency,2018,2018,AUD,Australian Dollar,0,Units,NaN,NaN,3.118632e+10,NaN,NaN
4,AUS,Australia,I-INV-TOT-INLD,Total inland transport infrastructure investment,EUR,Euro,2015,2015,EUR,Euro,0,Units,NaN,NaN,1.325335e+10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,CHL,Chile,I-INV-MTN-RD,Total road spending,EUR_CONST,Constant Euro,2015,2015,EUR,Euro,0,Units,NaN,NaN,2.218588e+09,NaN,NaN
290,CHL,Chile,I-INV-MTN-RD,Total road spending,EUR_CONST,Constant Euro,2016,2016,EUR,Euro,0,Units,NaN,NaN,2.117740e+09,NaN,NaN
291,CHL,Chile,I-INV-MTN-RD,Total road spending,EUR_CONST,Constant Euro,2017,2017,EUR,Euro,0,Units,NaN,NaN,1.917894e+09,P,Provisional value
292,CHL,Chile,I-INV-MTN-RD,Total road spending,EUR_CONST,Constant Euro,2018,2018,EUR,Euro,0,Units,NaN,NaN,1.722191e+09,P,Provisional value
293,CHL,Chile,I-INV-MTN-RD,Total road spending,EUR_CONST,Constant Euro,2019,2019,EUR,Euro,0,Units,NaN,NaN,1.844148e+09,P,Provisional value

###############################################################################################################################

################################################## Weel-being #################################################################

In [116]:
weel_being_15.columns

Index(['LOCATION', 'Country', 'TYPE_VAR', 'Type of indicator', 'VARIABLE',
       'Indicator', 'WB', 'Current/Future Well-being', 'SEX', 'Sex', 'AGE',
       'Age', 'EDUCATION', 'Education', 'TIME', 'Time', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [117]:
weel_being_15 = weel_being_15[['TYPE_VAR', 'Indicator','Time', 'Value']]

In [118]:
#weel_being_15.head()

In [119]:
#Apenas esses indicadores pois são os únicos com 5 medições (2015-19)

weel_being_15 = weel_being_15.loc[weel_being_15['Indicator'].isin(['Social support','Feeling safe at night',
                                                                   'Households with internet access at home',
                                                                  'Employment rate'])]

In [120]:
weel_being_15

   TYPE_VAR              Indicator  Time      Value
0   AVERAGE        Employment rate  2015  69.198892
1   AVERAGE        Employment rate  2016  68.255655
2   AVERAGE        Employment rate  2017  67.378621
3   AVERAGE        Employment rate  2018  67.737898
4   AVERAGE        Employment rate  2019  68.469786
16  AVERAGE  Feeling safe at night  2015  39.517438
17  AVERAGE  Feeling safe at night  2016  36.055620
18  AVERAGE  Feeling safe at night  2017  31.325225
19  AVERAGE  Feeling safe at night  2018  33.604889
20  AVERAGE  Feeling safe at night  2019  40.204899
21      DEP  Feeling safe at night  2015  59.777633
22      DEP  Feeling safe at night  2016  63.331952
23      DEP  Feeling safe at night  2017  67.996285
24      DEP  Feeling safe at night  2018  65.802280
25      DEP  Feeling safe at night  2019  58.916488
31  AVERAGE         Social support  2015  89.999334
32  AVERAGE         Social support  2016  90.837112
33  AVERAGE         Social support  2017  90.198839
34  AVERAGE         Social support  2018  87.234402
35  AVERAGE         Social support  2019  89.254779
45      DEP         Social support  2015   9.261743
46      DEP         Social support  2016   8.715303
47      DEP         Social support  2017   9.502070
48      DEP         Social support  2018  11.726325
49      DEP         Social support  2019  10.008185

###############################################################################################################################

######################################################### Dolar ###############################################################

In [44]:
dolar.head()

         Data  Último Abertura  Máxima  Mínima    Var%
0  31.12.2019  4,0190   4,0197  4,0198  4,0194  -0,00%
1  30.12.2019  4,0191   4,0490  4,0490  4,0083  -0,66%
2  27.12.2019  4,0456   4,0566  4,0620  4,0347  -0,25%
3  26.12.2019  4,0557   4,0825  4,0825  4,0457  -0,69%
4  25.12.2019  4,0838   4,0838  4,0838  4,0838   0,01%

###############################################################################################################################

As linhas a seguir não contemplam nada do que foi feito acima. Abaixo apenas está linhas que restaram de outra versão.

In [ ]:
#Join os dois dfs - Cargas e Atracação

#df_joined = pd.merge(carga_cont_CAB, atrac, on='IDAtracacao', how='left')
#df_joined

In [ ]:
#Associando a sigla da Origem com o Município

#df_joined.groupby('Origem').Município.value_counts()

In [ ]:
#Associando a sigla da Origem com o Terminal

#df_joined.groupby('Origem').Terminal.value_counts()