In [1]:
import pandas as pd
import numpy as np
print("Setup ok")

Setup ok

In [2]:
cargas = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Carga.txt",sep =";")

atrac = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Atracacao.txt",sep =";")

agri_outlook = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Agricultural Outlook.csv")

comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Commodity prices, monthly.csv")

pib = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Gross domestic product (GDP).csv")

prod_sales = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Production and Sales (MEI).csv")

taxa_desocupacao = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Taxa de desocupação.csv",sep =";")

infra_invest = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Transport infrastructure investment and maintenance spending.csv")

weel_being_15 = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Well-being 2015.csv")

dolar = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/USD_BRL Dados Históricos.csv")

#Acho que a capacidade de produção de aço não ajuda. Visto que estamos analisando a movimentacao de cntrs
#stell_capacity = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Steel Making Capacity.csv")

print("ok")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ok

##########################################  TRATAMENTO DE cargas  #############################################################

In [3]:
#Colunas de cargas

cargas.columns

Index(['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagAutorizacao', 'FlagCabotagem',
       'FlagCabotagemMovimentacao', 'FlagConteinerTamanho', 'FlagLongoCurso',
       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
       'Percurso Transporte em vias Interiores',
       'Percurso Transporte Interiores', 'STNaturezaCarga', 'STSH2', 'STSH4',
       'Natureza da Carga', 'Sentido', 'TEU', 'QTCarga', 'VLPesoCargaBruta'],
      dtype='object')

#Observar que o PIB deve ser linkado com a DATA DE CHEGADA
#Além disso, podemos fazer algumas análises de gráficos pré modelagem para introduzirmos o assunto

#atrac[['Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes']]

In [4]:
cargas['FlagAutorizacao'].value_counts()

S    1714210
N        307
Name: FlagAutorizacao, dtype: int64

In [5]:
cargas['FlagConteinerTamanho'].value_counts()

40        766152
20        441781
40.0      205857
20.0      124213
OUTROS     14693
Name: FlagConteinerTamanho, dtype: int64

In [6]:
cargas = cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
       'Sentido', 'TEU']]

#cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
#       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
#       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
#       'Sentido', 'TEU', 'QTCarga']].head()

#Colunas não selecionadas:
#       'FlagAutorizacao', 'FlagCabotagem',
#       'FlagCabotagemMovimentacao', 'FlagLongoCurso',
#       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
#       'Percurso Transporte em vias Interiores'
#Por motido de irrelevância. Em 'Percurso Transporte em vias Interiores' a coluna 'Tipo Navegação' já traz as infos necessárias
#'STNaturezaCarga','STSH2' e 'STSH4': Exclusivo ou Compartilhado. Irrelevante para o projeto
#'Natureza da Carga': totalmente completa como "Carga Conteinerizada". Logo, não é necessária sua presença
#'VLPesoCargaBruta' é proporcional a coluna 'TEU', logo não será utilizada
#'QTCarga' é igual ao TEU

In [7]:
#'Carga Geral Acondicionamento' é dividida em Contenerizada e Solta. 
#As linhas com valores NaN são dropados abaixo
#1667696 (com valor); 46821 (NaN)

cargas = cargas[cargas['Carga Geral Acondicionamento'] == "Conteinerizada"]

#Tira-se os TEUs decimais 
cargas = cargas.loc[(cargas['FlagConteinerTamanho'] != 'OUTROS') &
                    (cargas['FlagConteinerTamanho'].notnull())]
cargas['FlagConteinerTamanho'].replace({'40.0':'40','20.0':'20'}, inplace=True)

#Ajuste do tipo da coluna
cargas['FlagConteinerTamanho'] = cargas['FlagConteinerTamanho'].astype('int')
cargas['TEU'] = cargas['TEU'].astype('int')

cargas.reset_index(drop=True, inplace=True)
cargas.head()

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [8]:
#'ConteinerEstado' é dividida em Cheio e Vazio.
#As linhas com valores NaN foram dropadas abaixo, tanto que a coluna "TEU" está zerada nas linhas com NaN em ConteinerEstado

cargas = cargas[cargas['ConteinerEstado'].notnull()]
#cargas.head()

In [9]:
#'FlagConteinerTamanho' é complementada por 'TEU' e 'QTCarga'
#A coluna tem o valor "OUTROS" que pode ganhar o valor de 20 ou 40 a depender das colunas complementares
#Quando isso for feito, deve-se mudar o tipo da coluna para float
#Os valores OUTROS equivalem a pouco menos do que 1% dos dados.

cargas['FlagConteinerTamanho'].value_counts()

40    971188
20    565967
Name: FlagConteinerTamanho, dtype: int64

In [10]:
#'Sentido' é dividida em Desembarcados, Embarcados e Não informados
#Os valores "Não Informados" são ignorados abaixo, uma vez q representam nem 2% de cada outro valor e nem 1% de todos os valores

cargas = cargas[cargas['Sentido']!= "Não Informado"]

In [11]:
cargas.head()

#'Tipo Navegação': um mesmo cntr pode ser usado na cabotagem e no longo curso? *********************

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [12]:
cargas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523472 entries, 0 to 1538002
Data columns (total 11 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   IDCarga                       1523472 non-null  int64
 1   IDAtracacao                   1523472 non-null  int64
 2   Origem                        1523472 non-null  object
 3   Destino                       1523472 non-null  object
 4   Tipo Operação da Carga        1523472 non-null  object
 5   Carga Geral Acondicionamento  1523472 non-null  object
 6   ConteinerEstado               1523472 non-null  object
 7   Tipo Navegação                1523472 non-null  object
 8   FlagConteinerTamanho          1523472 non-null  int32
 9   Sentido                       1523472 non-null  object
 10  TEU                           1523472 non-null  int32
dtypes: int32(2), int64(2), object(7)
memory usage: 127.9+ MB

###############################################################################################################################

##########################################  TRATAMENTO DE atrac  ##############################################################

In [13]:
atrac

,IDAtracacao,CDTUP,IDBerco,Berço,Porto Atracação,Apelido Instalação Portuária,Complexo Portuário,Tipo da Autoridade Portuária,Data Atracação,Data Chegada,...,Tipo de Navegação da Atracação,Nacionalidade do Armador,FlagMCOperacaoAtracacao,Terminal,Município,UF,SGUF,Região Geográfica,Nº da Capitania,Nº do IMO
0,678383,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,08/03/2015 04:32:00,08/03/2015 04:32:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
1,686657,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,20/04/2015 06:00:00,20/04/2015 05:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
2,686656,BRAM015,BRAM0150001,01,Carinhoso,NaN,Manaus,Porto Privado,30/04/2015 04:00:00,30/04/2015 03:00:00,...,Interior,1.0,1,Carinhoso,Manaus,Amazonas,AM,Norte,NaN,NaN
3,720152,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,05/10/2015 15:00:00,05/10/2015 15:00:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
4,703856,BRAM014,BRAM0140304,BERÇO - 02 INTERNA,Terminal Graneleiro Hermasa,NaN,Manaus,Porto Privado,19/07/2015 04:18:00,19/07/2015 04:18:00,...,Interior,1.0,1,Terminal Graneleiro Hermasa,Itacoatiara,Amazonas,AM,Norte,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70464,884624,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,23/10/2015 21:55:00,23/10/2015 21:55:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011436409,NaN
70465,888124,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,11/08/2015 15:17:00,11/08/2015 15:17:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70466,884617,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,09/10/2015 08:40:00,09/10/2015 08:40:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70467,884570,BRAM012,BRAM0120101,EXTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,04/11/2015 09:02:00,04/11/2015 09:02:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN
70468,884657,BRAM012,BRAM0120102,INTERNO,Super Terminais Comércio e Indústria,NaN,Manaus,Porto Privado,19/09/2015 08:15:00,19/09/2015 08:15:00,...,Interior,1.0,1,Super Terminais Comércio e Indústria,Manaus,Amazonas,AM,Norte,0011432624,NaN

In [14]:
#Colunas de atrac

atrac.columns

#'Nº da Capitania' não tem função para o trabalho

Index(['IDAtracacao', 'CDTUP', 'IDBerco', 'Berço', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Operação', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'FlagMCOperacaoAtracacao', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica', 'Nº da Capitania',
       'Nº do IMO'],
      dtype='object')

In [15]:
atrac = atrac[['IDAtracacao', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica']]

#atrac[['IDAtracacao', 'Porto Atracação',
#       'Apelido Instalação Portuária', 'Complexo Portuário',
#       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
#       'Nacionalidade do Armador', 'Terminal',
#       'Município', 'UF', 'SGUF', 'Região Geográfica']].head()

#Como essa tabela é suporte, poucas colunas vão interessar. Uma vez que será extraído dela o local dos portos e terminais.
#Colunas não selecionadas:
#'IDBerco', 'CDTUP', 'Berço', 'Tipo de Operação',
#'FlagMCOperacaoAtracacao', 'Nº da Capitania' e 'Nº do IMO' têm pouca relevância no estudo.

In [16]:
#'Apelido Instalação Portuária' é mantido por ora por segurança.

atrac[atrac['Apelido Instalação Portuária'].isna()]['Complexo Portuário'].value_counts()

Santos                           5488
Vitória                          4546
Vila do Conde - Belém            4496
Manaus                           3803
Rio Grande                       3619
Porto Velho                      2577
Corumbá                          2427
Santarém                         2185
Paranaguá - Antonina             2171
Rio de Janeiro -  Niterói        2071
Porto Alegre                     1991
Itaqui                           1199
São Francisco do Sul             1162
Aratu - Salvador                  746
Pecém - Fortaleza                 489
Óbidos                            435
Itajaí                            367
Itaguaí                           340
Maceió                            326
Não Classificado                  308
Imbituba                          229
Angra dos Reis                    184
Tomé Açu                          154
São Sebastião                     140
Cabedelo (Instalação Isolada)     117
São João da Barra                  97
Natal                              75
Almeirim                           40
Forno                              19
Suape - Recife                      3
Name: Complexo Portuário, dtype: int64

In [17]:
atrac['Nacionalidade do Armador'].value_counts()

1.0    38515
2.0    30482
0.0     1165
Name: Nacionalidade do Armador, dtype: int64

In [18]:
#atrac

###############################################################################################################################

Juntando cargas e atrac

In [19]:
cargas_atrac = cargas.merge(atrac, how='inner', on='IDAtracacao')

In [20]:
cargas_atrac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523472 entries, 0 to 1523471
Data columns (total 29 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   IDCarga                         1523472 non-null  int64
 1   IDAtracacao                     1523472 non-null  int64
 2   Origem                          1523472 non-null  object
 3   Destino                         1523472 non-null  object
 4   Tipo Operação da Carga          1523472 non-null  object
 5   Carga Geral Acondicionamento    1523472 non-null  object
 6   ConteinerEstado                 1523472 non-null  object
 7   Tipo Navegação                  1523472 non-null  object
 8   FlagConteinerTamanho            1523472 non-null  int32
 9   Sentido                         1523472 non-null  object
 10  TEU                             1523472 non-null  int32
 11  Porto Atracação                 1523472 non-null  object
 12  Apelido Instalação Portuária    456994 non-null   object
 13  Complexo Portuário              1523472 non-null  object
 14  Tipo da Autoridade Portuária    1523472 non-null  object
 15  Data Atracação                  1523472 non-null  object
 16  Data Chegada                    1523472 non-null  object
 17  Data Desatracação               1523472 non-null  object
 18  Data Início Operação            1523472 non-null  object
 19  Data Término Operação           1523472 non-null  object
 20  Ano                             1523472 non-null  int64
 21  Mes                             1523472 non-null  object
 22  Tipo de Navegação da Atracação  1523472 non-null  object
 23  Nacionalidade do Armador        1523472 non-null  float64
 24  Terminal                        1523472 non-null  object
 25  Município                       1523472 non-null  object
 26  UF                              1523472 non-null  object
 27  SGUF                            1523472 non-null  object
 28  Região Geográfica               1523472 non-null  object
dtypes: float64(1), int32(2), int64(3), object(23)
memory usage: 337.1+ MB

In [21]:
cargas_atrac['Mes'].value_counts()

nov    139878
dez    139023
out    137969
jul    137116
ago    133615
mar    129376
mai    129219
jun    120885
set    116209
jan    115422
abr    113773
fev    110987
Name: Mes, dtype: int64

###############################################################################################################################

################################################ Agri Outlook ##################################################################

In [22]:
#Colunas do agri outlook

agri_outlook.columns

Index(['COUNTRY', 'Country', 'COMMODITY', 'Commodity', 'VARIABLE', 'Variable',
       'TIME', 'Time', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [23]:
agri_outlook = agri_outlook[['Commodity','Variable','Time','Value']] 

#Mantive 'Variable' pois soa interessante o porque do dado

In [24]:
agri_outlook['Variable'].value_counts()

Production, kt (for Biofuels in millions of litres)                           125
Imports, kt (for Biofuels in millions of litres)                              110
Producer price, local currency/t (for Biofuels local currency/ 100 litres)    110
Exports, kt (for Biofuels in millions of litres)                              110
Consumption, kt (for Biofuels in millions of litres)                          105
Trade balance, kt (for Biofuels in millions of litres)                        100
Food, kt                                                                       80
Consumption per capita, kg                                                     75
Ending stocks, kt (for Biofuels in millions of litres)                         65
Yield                                                                          40
Other use, kt (for Biofuels in millions of litres)                             30
Feed, kt                                                                       25
Area harvested, 000 ha                                                         25
Biofuel use, kt                                                                20
Cow inventory, 000 hd                                                          10
Crush, kt                                                                      10
Name: Variable, dtype: int64

In [25]:
novos_nomes = agri_outlook['Variable'].str.split(",",expand=True)

In [26]:
novos_nomes[0]

0           Production
1           Production
2           Production
3           Production
4           Production
             ...
1035    Producer price
1036    Producer price
1037    Producer price
1038    Producer price
1039    Producer price
Name: 0, Length: 1040, dtype: object

In [27]:
agri_outlook['Variable']=novos_nomes[0]

In [28]:
agri_outlook['Chave_var_comm'] = agri_outlook['Commodity']+" - "+agri_outlook['Variable']

In [29]:
agri_outlook.drop(columns=['Variable','Commodity'], inplace=True)

In [30]:
df_dummies_agri = pd.get_dummies(agri_outlook,columns=['Chave_var_comm'])

In [31]:
df_dummies_agri.head()

,Time,Value,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
0,2015,5423.046719,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,5659.012314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,5642.048576,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,5791.486958,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019,5733.874286,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
for i in range(0,len(df_dummies_agri)):
    for j in range(2,len(df_dummies_agri.columns.to_list())):
        df_dummies_agri.iloc[i,j] = df_dummies_agri.iloc[i,1] * df_dummies_agri.iloc[i,j]

In [33]:
df_dummies_agri_agg = df_dummies_agri.groupby('Time').sum()
df_dummies_agri_agg.drop(columns=['Value'],inplace=True)

In [34]:
df_dummies_agri_agg.head()

,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,Chave_var_comm_Beef and veal (cwe) - Production,Chave_var_comm_Beef and veal (cwe) - Trade balance,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
Time,,,,,,,,,,,,,,,,,,,,,
2015,8976.079060,30.907241,52730.65745,0.0,1725.996754,8976.079060,93.819177,6572.366737,10608.25664,1632.177578,...,1151.206988,9643.371758,593.782421,2.920807,9.616232,593.782421,47.908834,6791.639220,555.489819,-38.292602
2016,9069.934419,30.996547,52371.83229,0.0,1729.482612,9069.934419,94.313580,6619.278597,10705.10345,1635.169032,...,1044.756828,9628.525938,606.658695,2.961799,9.321286,606.658695,48.929020,7068.430159,567.050961,-39.607734
2017,9208.506177,31.244412,52801.46068,0.0,1802.482784,9208.506177,94.492876,6972.223818,10916.49609,1707.989908,...,1087.976629,9083.088569,618.811304,2.999462,9.819252,618.811304,49.440650,7360.301315,579.189906,-39.621398
2018,9320.236587,31.406417,52529.80261,0.0,1835.443246,9320.236587,94.559498,7274.130990,11061.12034,1740.883748,...,1141.558778,10378.108060,630.495061,3.035115,10.378969,630.495061,50.501973,7634.814315,590.372057,-40.123003
2019,9339.610847,31.264778,52332.69831,0.0,1924.315717,9339.610847,94.584882,7406.214783,11169.34168,1829.730835,...,1166.874293,10781.395620,643.328290,3.076530,10.671056,643.328290,51.509701,7935.485765,602.489645,-40.838645

df_dummies_agri.loc[(df_dummies_agri['Commodity_Biodiesel'] == 1) &
                   (df_dummies_agri['Time'] == 2019)]

In [35]:
#Junção da tabela cargas_atrac com a agri
cargas_atrac_agri = cargas_atrac.merge(df_dummies_agri_agg, how='inner', left_on='Ano', right_index=True)

In [36]:
#cargas_atrac_agri.info()

###############################################################################################################################

################################################ Commod. Price ################################################################

In [37]:
comm_price.columns

Index(['MEASURE - Prices'], dtype='object')

In [38]:
comm_price

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           MEASURE - Prices
PERIOD                                             Jan. 2015         Feb. 2015         Mar. 2015         Apr. 2015         May  2015         June 2015         Jul. 2015         Aug. 2015         Sep. 2015         Oct. 2015         Nov. 2015         Dec. 2015         Jan. 2016         Feb. 2016         Mar. 2016         Apr. 2016         May  2016         June 2016         Jul. 2016         Aug. 2016         Sep. 2016         Oct. 2016 Nov. 2016         Dec. 2016         Jan. 2017         Feb. 2017         Mar. 2017         Apr. 2017         May  2017         June 2017         Jul. 2017         Aug. 2017         Sep. 2017         Oct. 2017         Nov. 2017         Dec. 2017         Jan. 2018         Feb. 2018         Mar. 2018         Apr. 2018         May  2018         June 2018         Jul. 2018         Aug. 2018         Sep. 2018         Oct. 2018         Nov. 2018         Dec. 2018         Jan. 2019         Feb. 2019         Mar. 2019         Apr. 2019         May  2019         June 2019         Jul. 2019         Aug. 2019         Sep. 2019 Oct. 2019         Nov. 2019                  Dec. 2019
COMMODITY                                          NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN       NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN       NaN               NaN                              NaN
All groups                                         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
  All food                                         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
    Food                                           _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _                 _         _                 _                                  _
      Bananas, Central and South America, FOT, ... 0.9               1                 1.03              1.03              0.94              0.92              0.93              0.95              0.94              0.93              0.93              0.93              1.04              1.05              1.01              0.99              0.98              0.99              1                 1.04              0.99              0.96      0.95              0.95              1                 1.05              1.06              1.06              1.08              1.09              1.09              1.09              1.09              1.08              1.07              1.09              1.13              1.26              1.16              1.15              1.15              1.15              1.13              1.1               1.11              1.12              1.12              1.12              1.13              1.15              1.17              1.16              1.12              1.12              1.12              1.12              1.15      1.13              1.12                            1.13
      Bananas, Central America, Main Brands (av... 0.97              1.11              1.14              1                 0.98              0.95              0.96              0.96              0.95              0.94              0.93              0.93              0.95              1                 0.98              0.96              0.94              0.94              0.95              0.95              0.94              0.94      0.93              0.91              0.91              0.93              0.94              0.95              0.94              0.94              0.94              0.93              0.93              0.93              0.92              0.92              0.98              1.37              1.22              1.03              0.98              0.98              0.95              0.91              0.91              ..                ..                ..                ..                ..                ..                ..                ..                ..                ..                ..                ..        ..                ..                                ..
      Beef, Australia/New Zealand, frozen, CIF ... 5.29              4.88              4.71              4.81              4.49              4.43              4.64              4.76              4.58              4.23              4.02              3.8               3.63              3.86              4.03              3.96              4.04              4.1               4.25              4.23              4.11              4.03      4.29              4.14              4.07              4.22              4.34              4.41              4.6               4.67              4.66              4.47              4.3               4.25              4.33              4.28              4.29              4.35              4.43              4.37              4.32              4.24              4.18              4.11              4.01              3.86              3.94              4.18              4.24              4.27              4.47              4.69              4.6               4.62              4.62              4.59              4.65      4.85              5.93                            5.56
      Maize, Argentina, Rosario, Up River, FOB ... 184.77            177.53            168.84            168.47            169.46            170.27            175.88            159.37            160.94            162.57            167.39            165.42            161.51            167.02            161.92            171.82            185.45            196.34            179.06            177.85            170.92            175.04    177.63            180.39            184.51            179.03            164.3             163.72            162.03            155.41            149.55            149.4             150.01            148.72            149.7             159.05            163.53            175.51            188.25            190.13            191.63            170.7             164.88            167.33            159.24            162.57            161               172.16            174.13            171.99            161.7             156.22            165.35            181.61            176.99            153.42            145.91    155.23            166.43                        172.78
      Maize, United States, n� 3 yellow, FOB Gu... 180.92            180.18            177.4             177.23            170.95            173               185.13            167.24            175.12            178.55            170.34            170.12            168.52            165.89            161.92            167.13            174.53            187.67            174.14            168.1             163.36            165.89    161.98            159.44            168.37            168.69            162.96            158.02            160.26            162.26            162.05            158.7             157.49            157.67            155.8             157.47            163.33            169.01            185.7             192.68            193.4             172.75            164.09            169.07            157.8             165.42            164.38            170.79            171.57            175.63            172.47            165.86            177.32            199.64            200.04            172.31            161.26    172.55            172.8                         173.17
      Rice, Thailand, white milled, 5% broken, ... 420               420               410               399               381               376               392               373               357               373               368               363               369               384               384               395               433               441               442               415               384               369       365               373               377               367               370               380               421               458               417               393               402               394               402               406               442               425               430               451               451               427               398               405               405               409               401               404               410               408               406               413               409               420               416               430               427       424               421                              432
      Salmon, fresh, fish-farm bred, export pri... 5.78              5.57              5.17              5.1               5.08              5.24              5.39              5.28              5.07              5.02              5.18              5.94              6.33              6.39              6.94              7.02              7.34              7.76              7.82              7.04              6.67              7.35      7.3               8.029999999999999 8.59              7.76              7.18              7.41              8.23              8.08              7.86              7.35              7.08              6.84              6.22              6.43              7.22              7.36              8.68              8.720000000000001 9.17              7.68              6.9               6.67              7.4               7.04              6.65              6.99              7.43              6.72              7.95              8.07              7.09              7.42              7.04              6.02              5.55      5.63              6.36                            7.92
      Shrimps, brown, no. 1, shell-on, headless... 17.41             17.48             17.45             16.92             15.86             13.79             12.25             10.39             8.76              8.699999999999999 9.630000000000001 9.880000000000001 10.47             10.8              10.67             10.52             10.47             10.47             10.47             10.84             11.88             12.29     12.49             13.2              13.41             13.64             13.77             13.77             14.29             14.85             14.72             12.84             12.12             11.95             12.17             12.23             12.35             12.73             12.78             12.82             12.89             12.53             12.23             12.01             11.53             11.46             11.66             11.79             11.79             11.79             11.79             11.79             11.79             11.97             12.94             13.05             13.22     13.4              13.68                          13.95
      Soybean meal, in bulk, 45/46% protein, Ha... 442.64            418.25            412.36            398.09            386.12            387               407.09            385.86            374.45            372.68            350.57            338.35            336.48            323.29            319.13            346.19            421.64            467.73            439.9             398.7             368.05            361.88    357               355.95            371.05            373.6             360.7             345.7             344.35            330.32            340.86            330.17            342.07            353.27            350.91            359.9             375.74            421.13            445.36            461.62            459.17            421.33            406.64            388.04            377.15            379.31            366.2             361.02            362.01            353.34            344.63            341.53            339.18            362.6             348.73            337.36            333.13    341.76            347.32                        352.68
      Sugar, average of I.S.A. daily prices, FO... 15.34             14.59             13.15             13.07             13.33             12.46             12.77             11.49             11.86             13.9              14.54             14.64             14.05             13.28             15.43             15.22             17.01             19.45             19.59             20.12             21.52             22.22     20.29             18.49             20.32             20.28             18.07             16.44             16.06             13.9              14.64             14.36             14.38             14.33             14.97             14.38             14.09             13.57             13.07             12.03             12.35             12.5              11.72             11.08             11.37             13.28             12.91             12.65             12.8              12.96             12.71             12.8              12.39             12.91             12.82             12.31             12.39     12.56             12.79                          13.41
      Wheat, Argentina, Trigo Pan, Up River, FO... 253               241               229               227               227               226               230               226               223               223               206               191               194               194               192               198               202               210               210               215               201               183       176               169               177               186               191               189               189               190               193               192               185               185               179               177.6             178.25            187.5             211.6             230.5             263.5             266.8             245.75            241.2             234               233.5             220.8             229.75            234.25            245               229.6             220.25            222.4             244.75            244               237               228.5     228               197.8                         202.25

In [39]:
#Transforma a tabela pivotada numa tabela normal

comm_price = pd.DataFrame(comm_price.to_records())
#comm_price

In [40]:
#Ajuda a tabela para um modo utilizável
#Temos que alterar melhor essa tabela para ela conversar com as demais *******************
#Trocar as linhas pelas colunas

comm_price.columns = comm_price.iloc[0]
comm_price = comm_price.drop([1,2,3,4])
comm_price = comm_price.set_index('PERIOD', drop=True)

#comm_price

In [41]:
comm_price = comm_price.transpose()
comm_price = comm_price.drop('PERIOD', axis=1).reset_index()

#comm_price.head()

In [42]:
#É preciso trocar a coluna PERIOD

meses_comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Meses_2015_2019.csv")
#meses_comm_price

In [43]:
#Ajusta o nome da coluna bem como seus valores

comm_price[0] = meses_comm_price['Mes/ano']
comm_price.rename(columns={0:'Mes/ano'}, inplace=True)

In [44]:
comm_price.columns

Index(['Mes/ano',
       '      Bananas, Central and South America, FOT, US import price ($/kg)',
       '      Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)',
       '      Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)',
       '      Maize, Argentina, Rosario, Up River, FOB ($/t)',
       '      Maize, United States, n� 3 yellow, FOB Gulf ($/t)',
       '      Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)',
       '      Salmon, fresh, fish-farm bred, export price, Norway ($/kg)',
       '      Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)',
       '      Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)',
       '      Sugar, average of I.S.A. daily prices, FOB & Stowed, in bulk, Caribbean ports (�/lb.)',
       '      Wheat, Argentina, Trigo Pan, Up River, FOB ($/t)',
       '      Wheat, United States, n� 2 Hard Red Winter (ordinary), FOB Gulf ($/t)',
       '    Tropical beverages',
       '      Cocoa beans, average daily prices New York/London (�/lb.)',
       '      Coffee, Brazilian and other natural Arabicas, ex-dock USA (�/lb.)',
       '      Coffee, Colombian mild Arabicas, ex-dock US (�/lb.)',
       '      Coffee, other mild Arabicas, ex-dock EU (�/lb.)',
       '      Coffee, other mild Arabicas, ex-dock US (�/lb.)',
       '      Coffee, Robustas, ex-dock EU (�/lb.)',
       '      Coffee, Robustas, ex-dock US (�/lb.)',
       '      Tea, Kenya Mombasa/Nairobi, auction price ($/kg)',
       '    Vegetable oilseeds and oils',
       '      Coconut oil, in bulk, Philippines/Indonesia, CIF Rotterdam ($/t)',
       '      Groundnut oil, in bulk, any origin, CIF Rotterdam ($/t)',
       '      Palm kernel oil, in bulk, Malaysia/Indonesia, CIF Rotterdam ($/t)',
       '      Palm oil, in bulk, Malaysia/Indonesia, 5% FFA, CIF ($/t)',
       '      Soybean oil, in bulk, Netherlands, FOB ex-mill ($/t)',
       '      Soybeans, in bulk, United States, n� 2 yellow, CIF Rotterdam ($/t)',
       '      Sunflower oil, in bulk, European Union, FOB N.W. European ports ($/t)',
       '  Agricultural raw materials',
       '      Cattle hides, heavy native steer, plant value, FOB ($/piece)',
       '      Cattle hides, US Chicago packer's heavy native steers, FOB shipping point (�/lb.)',
       '      Coarse wool, 23 micron, AWEX auction price, Australia ($/t)',
       '      Fine wool, 19 micron, Australia ($/t)',
       '      Fine wool, 19 Micron, AWEX auction price, Australia ($/t)',
       '      Fish meal, in bulk, 64/65% protein, FCA, Bremen ($/t)',
       '      Jute, Bangladesh, BWD, FOB Mongla ($/t)',
       '      Non-coniferous woods, UK import price index, dollar equivalent (2010=100)',
       '      Plywood, Africa & SE Asia, Lauan, 3-ply, 91cmx182cmx4mm, wholesale Tokyo (�/sheet)',
       '      Rubber, RSS n�3, Singapore Commodity Exchange, 1st contract (�/kg)',
       '      Rubber, TSR 20, New York CIF ($/t)',
       '      Sawnwood, Dark Red Meranti, Malaysia, CFR plus commission, UK ($/m3)',
       '      Sisal, Tanzania/Kenya, n� 2 & 3 long, FOB ($/t)',
       '      Sisal, Tanzania/Kenya, n� 3 & UG, FOB ($/t)',
       '      Tobacco, unmanufactured, US import unit value  ($/t)',
       '      Tropical logs, Okoume (60% CI, 40% CE, 20% CS), West Africa, FOB ($/m3)',
       '      Tropical logs, Sapele, high quality (loyal and marchand), FOB, Cameroon ($/m3)',
       '  Minerals, ores and metals',
       '      Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)',
       '      Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)',
       '      Zinc, Prime Western, delivered, North America (�/lb.)',
       '  Fuels',
       '      Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)',
       '      Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)',
       '      Natural gas, index, Europe, United States and Japan (2010=100)'],
      dtype='object', name='PERIOD')

In [45]:
comm_price.head()

PERIOD,Mes/ano,"Bananas, Central and South America, FOT, US import price ($/kg)","Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)","Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)","Maize, Argentina, Rosario, Up River, FOB ($/t)","Maize, United States, n� 3 yellow, FOB Gulf ($/t)","Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)","Salmon, fresh, fish-farm bred, export price, Norway ($/kg)","Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)","Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)",...,"Tropical logs, Okoume (60% CI, 40% CE, 20% CS), West Africa, FOB ($/m3)","Tropical logs, Sapele, high quality (loyal and marchand), FOB, Cameroon ($/m3)","Minerals, ores and metals","Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)","Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)","Zinc, Prime Western, delivered, North America (�/lb.)",Fuels,"Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)","Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)","Natural gas, index, Europe, United States and Japan (2010=100)"
0,jan/15,0.9,0.97,5.29,184.77,180.92,420,5.78,17.41,442.64,...,380.8,407.61,_,..,119.5,104.37,_,45.98,48.07,91.05
1,fev/15,1,1.11,4.88,177.53,180.18,420,5.57,17.48,418.25,...,363.2,397.49,_,..,121.25,103.89,_,55.83,57.93,83.52
2,mar/15,1.03,1.14,4.71,168.84,177.4,410,5.17,17.45,412.36,...,308.1,379.19,_,..,123,100.4,_,54.91,55.79,82.15000000000001
3,abr/15,1.03,1,4.81,168.47,177.23,399,5.1,16.92,398.09,...,258.7,377.75,_,..,114.12,108.35,_,58.8,59.39,70.94
4,mai/15,0.94,0.98,4.49,169.46,170.95,381,5.08,15.86,386.12,...,267.6,390.77,_,..,110.5,111.86,_,63.69,64.56,72.56

In [46]:
#Coluna Mes/ano tratada
mes_ano_trat = comm_price['Mes/ano'].str.split("/",expand=True)
mes_ano_trat[1] = mes_ano_trat[1].map({'15':2015,'16':2016,'17':2017,'18':2018,'19':2019})
mes_ano_trat

      0     1
0   jan  2015
1   fev  2015
2   mar  2015
3   abr  2015
4   mai  2015
5   jun  2015
6   jul  2015
7   ago  2015
8   set  2015
9   out  2015
10  nov  2015
11  dez  2015
12  jan  2016
13  fev  2016
14  mar  2016
15  abr  2016
16  mai  2016
17  jun  2016
18  jul  2016
19  ago  2016
20  set  2016
21  out  2016
22  nov  2016
23  dez  2016
24  jan  2017
25  fev  2017
26  mar  2017
27  abr  2017
28  mai  2017
29  jun  2017
30  jul  2017
31  ago  2017
32  set  2017
33  out  2017
34  nov  2017
35  dez  2017
36  jan  2018
37  fev  2018
38  mar  2018
39  abr  2018
40  mai  2018
41  jun  2018
42  jul  2018
43  ago  2018
44  set  2018
45  out  2018
46  nov  2018
47  dez  2018
48  jan  2019
49  fev  2019
50  mar  2019
51  abr  2019
52  mai  2019
53  jun  2019
54  jul  2019
55  ago  2019
56  set  2019
57  out  2019
58  nov  2019
59  dez  2019

In [47]:
comm_price.drop(columns=['Mes/ano'], inplace=True)
comm_price[['Mes','Ano']] = mes_ano_trat

In [48]:
comm_price.head()

PERIOD,"Bananas, Central and South America, FOT, US import price ($/kg)","Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)","Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)","Maize, Argentina, Rosario, Up River, FOB ($/t)","Maize, United States, n� 3 yellow, FOB Gulf ($/t)","Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)","Salmon, fresh, fish-farm bred, export price, Norway ($/kg)","Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)","Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)","Sugar, average of I.S.A. daily prices, FOB & Stowed, in bulk, Caribbean ports (�/lb.)",...,"Minerals, ores and metals","Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)","Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)","Zinc, Prime Western, delivered, North America (�/lb.)",Fuels,"Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)","Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)","Natural gas, index, Europe, United States and Japan (2010=100)",Mes,Ano
0,0.9,0.97,5.29,184.77,180.92,420,5.78,17.41,442.64,15.34,...,_,..,119.5,104.37,_,45.98,48.07,91.05,jan,2015
1,1,1.11,4.88,177.53,180.18,420,5.57,17.48,418.25,14.59,...,_,..,121.25,103.89,_,55.83,57.93,83.52,fev,2015
2,1.03,1.14,4.71,168.84,177.4,410,5.17,17.45,412.36,13.15,...,_,..,123,100.4,_,54.91,55.79,82.15000000000001,mar,2015
3,1.03,1,4.81,168.47,177.23,399,5.1,16.92,398.09,13.07,...,_,..,114.12,108.35,_,58.8,59.39,70.94,abr,2015
4,0.94,0.98,4.49,169.46,170.95,381,5.08,15.86,386.12,13.33,...,_,..,110.5,111.86,_,63.69,64.56,72.56,mai,2015

In [49]:
cargas_atrac_agri_cprice = cargas_atrac_agri.merge(comm_price, how='inner', on=['Mes','Ano'])

###############################################################################################################################

################################################ PIB ##########################################################################

In [50]:
pib = pib[['Transaction', 'MEASURE', 'Measure',
       'TIME', 'Year', 'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Unit','Flag Codes',
       'Flags']]

In [51]:
pib['Transaction'].value_counts()

Gross domestic product (expenditure approach)                                  84
Prof., scientific, techn.; admin., support serv. activities (ISIC rev4)        80
Public admin.; compulsory s.s.; education; human health (ISIC rev4)            80
Information and communication (ISIC rev4)                                      80
Other service activities (ISIC rev4)                                           80
Distributive trade, repairs; transport; accommod., food serv. (ISIC rev4)      80
Construction (ISIC rev4)                                                       80
Agriculture, forestry and fishing (ISIC rev4)                                  80
Final consumption expenditure of households                                    79
Real estate activities (ISIC rev4)                                             68
Industry, including energy (ISIC rev4)                                         68
of which: Manufacturing (ISIC rev4)                                            68
Financial and insurance activities (ISIC rev4)                                 68
Gross capital formation                                                        60
Households and Non-profit institutions serving households                      60
Exports of goods and services                                                  60
Final consumption expenditure                                                  60
Domestic demand                                                                60
Final consumption expenditure of general government                            60
Gross fixed capital formation                                                  60
Final consumption expenditure of non-profit institutions serving households    60
Imports of goods and services                                                  60
External balance of goods and services                                         52
Gross value added at basic prices, total activity                              44
Gross domestic product (output approach)                                       44
Gross value added at basic prices, excluding FISIM                             44
Taxes less subsidies on products                                               40
Changes in inventories and acquisitions less disposals of valuables            28
Changes in inventories                                                         28
Other machinery and equipment and weapon system, SNA08                         20
ICT equipment, SNA08                                                           20
Dwellings                                                                      20
Machinery and equipment and weapon system                                      20
Cultivated biological resources                                                20
Statistical discrepancy                                                        20
Individual consumption expenditure of general government                       20
Collective consumption expenditure of general government                       20
Other buildings and structures                                                 20
Intellectual property product                                                  20
Transport equipment                                                            20
of which: Actual individual consumption                                        16
Gross operating surplus and gross mixed income                                 12
of which: Manufacturing (ISIC rev 4)                                           12
Taxes less subsidies on production and imports                                 12
Real estate activities (ISIC rev 4)                                            12
Compensation of employees                                                      12
Gross domestic product (income approach)                                       12
Subsidies on products                                                          12
Employers' social contributions                                                12
Taxes on production and imports                                                12
Subsidies on production and imports                                            12
Financial and insurance activities (ISIC rev 4)                                12
Industry, including energy (ISIC rev 4)                                        12
Taxes on products                                                              12
Wages and salaries                                                             12
Name: Transaction, dtype: int64

In [52]:
pib.columns

Index(['Transaction', 'MEASURE', 'Measure', 'TIME', 'Year', 'Unit Code',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Unit', 'Flag Codes', 'Flags'],
      dtype='object')

In [53]:
pib.head()

,Transaction,MEASURE,Measure,TIME,Year,Unit Code,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Unit,Flag Codes,Flags
0,Domestic demand,C,Current prices,2015,2015,BRL,6,Millions,NaN,NaN,6064933.0,Brazilian Real,NaN,NaN
1,Domestic demand,C,Current prices,2016,2016,BRL,6,Millions,NaN,NaN,6244271.0,Brazilian Real,NaN,NaN
2,Domestic demand,C,Current prices,2017,2017,BRL,6,Millions,NaN,NaN,6538182.0,Brazilian Real,NaN,NaN
3,Domestic demand,C,Current prices,2018,2018,BRL,6,Millions,NaN,NaN,6976559.0,Brazilian Real,NaN,NaN
4,Gross fixed capital formation,C,Current prices,2015,2015,BRL,6,Millions,NaN,NaN,1069397.0,Brazilian Real,NaN,NaN

In [54]:
a = pib['Transaction']

In [55]:
#Chave que contempla a transaction com a unidade de medida
pib['Chave'] = pib['Transaction'] + pib['Unit']

In [94]:
#Ajusta PIB
df_demmies_transaction_name = pd.get_dummies(pib,columns=['Chave'])
col = [0,1,2,3,5,6,7,8,9,11,12,13]
df_demmies_transaction_name.drop(df_demmies_transaction_name.columns[col], axis=1,inplace=True)
#df_demmies_transaction_name.head()

In [96]:
#Seleciona as colunas a serem dropadas
drop_list = [col for col in df_demmies_transaction_name.columns if ('Brazilian Real' in col) or
                                                                    ('Percentage' in col) or 
                                                                     ('Index' in col)]

In [98]:
#Drop das especificadas
df_demmies_transaction_name = df_demmies_transaction_name.drop(columns=drop_list)

In [99]:
df_demmies_transaction_name.columns

Index(['Year', 'Value',
       'Chave_Agriculture, forestry and fishing (ISIC rev4)US Dollar',
       'Chave_Changes in inventories and acquisitions less disposals of valuablesUS Dollar',
       'Chave_Changes in inventoriesUS Dollar',
       'Chave_Collective consumption expenditure of general governmentUS Dollar',
       'Chave_Compensation of employeesUS Dollar',
       'Chave_Construction (ISIC rev4)US Dollar',
       'Chave_Cultivated biological resourcesUS Dollar',
       'Chave_Distributive trade, repairs; transport; accommod., food serv. (ISIC rev4)US Dollar',
       'Chave_Domestic demandUS Dollar', 'Chave_DwellingsUS Dollar',
       'Chave_Employers' social contributionsUS Dollar',
       'Chave_Exports of goods and servicesUS Dollar',
       'Chave_External balance of goods and servicesUS Dollar',
       'Chave_Final consumption expenditure of general governmentUS Dollar',
       'Chave_Final consumption expenditure of householdsOECD=100',
       'Chave_Final consumption expenditure of householdsUS Dollar',
       'Chave_Final consumption expenditure of non-profit institutions serving householdsUS Dollar',
       'Chave_Final consumption expenditureUS Dollar',
       'Chave_Financial and insurance activities (ISIC rev 4)US Dollar',
       'Chave_Financial and insurance activities (ISIC rev4)US Dollar',
       'Chave_Gross capital formationUS Dollar',
       'Chave_Gross domestic product (expenditure approach)OECD=100',
       'Chave_Gross domestic product (expenditure approach)US Dollar',
       'Chave_Gross domestic product (income approach)US Dollar',
       'Chave_Gross domestic product (output approach)US Dollar',
       'Chave_Gross fixed capital formationUS Dollar',
       'Chave_Gross operating surplus and gross mixed incomeUS Dollar',
       'Chave_Gross value added at basic prices, excluding FISIMUS Dollar',
       'Chave_Gross value added at basic prices, total activityUS Dollar',
       'Chave_Households and Non-profit institutions serving householdsUS Dollar',
       'Chave_ICT equipment, SNA08US Dollar',
       'Chave_Imports of goods and servicesUS Dollar',
       'Chave_Individual consumption expenditure of general governmentUS Dollar',
       'Chave_Industry, including energy (ISIC rev 4)US Dollar',
       'Chave_Industry, including energy (ISIC rev4)US Dollar',
       'Chave_Information and communication (ISIC rev4)US Dollar',
       'Chave_Intellectual property productUS Dollar',
       'Chave_Machinery and equipment and weapon systemUS Dollar',
       'Chave_Other buildings and structuresUS Dollar',
       'Chave_Other machinery and equipment and weapon system, SNA08US Dollar',
       'Chave_Other service activities (ISIC rev4)US Dollar',
       'Chave_Prof., scientific, techn.; admin., support serv. activities (ISIC rev4)US Dollar',
       'Chave_Public admin.; compulsory s.s.; education; human health (ISIC rev4)US Dollar',
       'Chave_Real estate activities (ISIC rev 4)US Dollar',
       'Chave_Real estate activities (ISIC rev4)US Dollar',
       'Chave_Statistical discrepancyUS Dollar',
       'Chave_Subsidies on production and importsUS Dollar',
       'Chave_Subsidies on productsUS Dollar',
       'Chave_Taxes less subsidies on production and importsUS Dollar',
       'Chave_Taxes less subsidies on productsUS Dollar',
       'Chave_Taxes on production and importsUS Dollar',
       'Chave_Taxes on productsUS Dollar',
       'Chave_Transport equipmentUS Dollar',
       'Chave_Wages and salariesUS Dollar',
       'Chave_of which: Actual individual consumptionUS Dollar',
       'Chave_of which: Manufacturing (ISIC rev 4)US Dollar',
       'Chave_of which: Manufacturing (ISIC rev4)US Dollar'],
      dtype='object')

df_demmies_transaction_name.info()

In [100]:
df_demmies_transaction_name['Value'] = df_demmies_transaction_name['Value'].astype(float)
for i in range(0,len(df_demmies_transaction_name)):
    for j in range(2,len(df_demmies_transaction_name.columns.to_list())):
        df_demmies_transaction_name.iloc[i,j] = df_demmies_transaction_name.iloc[i,1] * df_demmies_transaction_name.iloc[i,j]

In [101]:
df_demmies_transaction_name = df_demmies_transaction_name.groupby(by='Year').sum().drop(columns='Value')#, inplace=True)

In [102]:
#Join do pib com as demais
cargas_atrac_agri_cprice_pib = cargas_atrac_agri_cprice.merge(df_demmies_transaction_name, how='inner',
                                                              left_on='Ano', right_on='Year')

pib.loc[pib['Transaction'] == 'Wages and salaries']

pib['Transaction'].value_counts()

In [ ]:
#Talvez essa base mais atrapalhe do que ajude. Primeiro que são levantamentos anuais,
#segundo que há pouco dados para cada "Transaction"

In [ ]:
#Os componentes do PIB apresentados nessa tabela talvez não nos ajudem se vistos isoladamente. 
#O valor "condensado" do PIB é mais útil ***************** PROCURAR ESSA INFO *************

#Verificar como um valor singular pode influenciar no algoritimo ML. Como um valor representativo, como o PIB (somente), pode 
#influenciar o ML 
#************************* VER COM O PROFESSOR

pib

###############################################################################################################################

############################################### Prod. Sales ###################################################################

In [84]:
prod_sales.columns

Index(['SUBJECT', 'Subject', 'LOCATION', 'Country', 'FREQUENCY', 'Frequency',
       'TIME', 'Time', 'Unit Code', 'Unit', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [104]:
prod_sales.head()

,SUBJECT,Subject,LOCATION,Country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-01,Jan-2015,IDX,Index,0,Units,2010_100,2010=100,102.37680,NaN,NaN
1,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-02,Feb-2015,IDX,Index,0,Units,2010_100,2010=100,102.19530,NaN,NaN
2,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-03,Mar-2015,IDX,Index,0,Units,2010_100,2010=100,106.07450,NaN,NaN
3,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-04,Apr-2015,IDX,Index,0,Units,2010_100,2010=100,94.42778,NaN,NaN
4,SLRTCR03,"Passenger car registrations sa, Index",AUS,Australia,M,Monthly,2015-05,May-2015,IDX,Index,0,Units,2010_100,2010=100,98.55822,NaN,NaN

In [108]:
#Escolhido a mesma referencia para os dados. Tinhamos outra referencia (2015)
prod_sales =prod_sales.loc[prod_sales['Reference Period']=='2010=100']

2010=100    9453
2015=100    6575
Name: Reference Period, dtype: int64

In [114]:
prod_sales.loc[prod_sales['Reference Period']=='2010=100']['TIME'].value_counts().sort_values(0)

2019-09     81
2019-12     81
2019-05     81
2019-02     81
2019-10     81
2019-04     81
2019-01     81
2019-07     81
2019-06     81
2019-08     81
2019-11     81
2019-03     81
2018-12    166
2018-11    166
2018-10    166
2018-09    170
2018-08    171
2018-07    172
2018-02    173
2018-03    173
2018-01    173
2018-05    173
2018-06    173
2018-04    173
2017-08    177
2017-11    177
2017-09    177
2017-12    177
2017-10    177
2016-10    178
2016-09    178
2016-07    178
2017-02    178
2016-08    178
2017-04    178
2017-07    178
2016-11    178
2016-12    178
2016-06    178
2017-01    178
2017-03    178
2017-06    178
2017-05    178
2016-03    179
2016-02    179
2016-04    179
2016-01    179
2016-05    179
2015-08    180
2015-12    180
2015-07    180
2015-02    180
2015-03    180
2015-06    180
2015-11    180
2015-09    180
2015-10    180
2015-01    180
2015-05    180
2015-04    180
Name: TIME, dtype: int64

In [115]:
#Dados MENSAIS. Selção das colunas relevantes
#'Reference Period' = 

prod_sales = prod_sales[['Subject', 'LOCATION', 'Country',
        'Time', 'Value']]

In [125]:
#Seleção apenas de EUA e UE por serem grandes polos ligados ao COMEX BR

prod_sales = prod_sales.loc[prod_sales['Country'].isin(['Euro area','Brazil', 'United States'])]

In [127]:
#Cria chave para ajustar a tabela
prod_sales['Chave'] = prod_sales['Subject'] + prod_sales['Country']

<ipython-input-127-aff054c465d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_sales['Chave'] = prod_sales['Subject'] + prod_sales['Country']

In [145]:
#Ajusta a tabela
dummies_prod_sales = pd.get_dummies(prod_sales,columns=['Chave'])
dummies_prod_sales.head()

,Subject,LOCATION,Country,Time,Value,"Chave_Passenger car registrations sa, IndexUnited States","Chave_Production in total manufacturing sa, IndexBrazil","Chave_Production in total manufacturing sa, IndexUnited States","Chave_Production of total construction sa, IndexBrazil","Chave_Production of total construction sa, IndexUnited States","Chave_Production of total industry sa, IndexBrazil","Chave_Production of total industry sa, IndexUnited States","Chave_Production of total manufactured intermediate goods sa, IndexUnited States","Chave_Total retail trade (Volume) sa, IndexBrazil","Chave_Total retail trade (Volume) sa, IndexUnited States","Chave_Work started for dwellings sa, IndexUnited States"
9574,"Production of total industry sa, Index",USA,United States,Jan-2015,101.94160,0,0,0,0,0,0,1,0,0,0,0
9575,"Production of total industry sa, Index",USA,United States,Feb-2015,101.32830,0,0,0,0,0,0,1,0,0,0,0
9576,"Production of total industry sa, Index",USA,United States,Mar-2015,100.99660,0,0,0,0,0,0,1,0,0,0,0
9577,"Production of total industry sa, Index",USA,United States,Apr-2015,100.39330,0,0,0,0,0,0,1,0,0,0,0
9578,"Production of total industry sa, Index",USA,United States,May-2015,99.95216,0,0,0,0,0,0,1,0,0,0,0

In [146]:
dummies_prod_sales['Value'] = dummies_prod_sales['Value'].astype(float)
for i in range(0,len(dummies_prod_sales)):
    for j in range(4,len(dummies_prod_sales.columns.to_list())):
        dummies_prod_sales.iloc[i,j] = dummies_prod_sales.iloc[i,4] * dummies_prod_sales.iloc[i,j]

In [147]:
#Dropa colunas nao mais necessárias
dummies_prod_sales.drop(dummies_prod_sales.columns[[0,1,2,4]], axis=1,inplace=True)

In [152]:
#Alguns dados estao zerados, sugestão: substituir pela média, ou, úlitmo valor
dummies_prod_sales = dummies_prod_sales.groupby(by='Time').sum().reset_index()
dummies_prod_sales.head()

,Time,"Chave_Passenger car registrations sa, IndexUnited States","Chave_Production in total manufacturing sa, IndexBrazil","Chave_Production in total manufacturing sa, IndexUnited States","Chave_Production of total construction sa, IndexBrazil","Chave_Production of total construction sa, IndexUnited States","Chave_Production of total industry sa, IndexBrazil","Chave_Production of total industry sa, IndexUnited States","Chave_Production of total manufactured intermediate goods sa, IndexUnited States","Chave_Total retail trade (Volume) sa, IndexBrazil","Chave_Total retail trade (Volume) sa, IndexUnited States","Chave_Work started for dwellings sa, IndexUnited States"
0,Apr-2015,9967.552364,10472.677363,10038.737442,10935.554158,9475.710267,10484.674588,10078.814685,10024.214641,10367.454948,9894.336603,11647.460268
1,Apr-2016,8252.397960,9049.882427,9813.616658,8259.399784,11334.668467,8841.072968,9525.679968,9922.618280,9010.026616,10066.690822,10959.095784
2,Apr-2017,6767.212686,8815.799678,10021.191215,6884.853944,12359.413694,8944.899723,9831.664448,10369.654392,9109.530412,10538.131149,10977.926355
3,Apr-2018,4931.240235,10016.887123,10321.137649,7451.037090,14838.991677,9840.989187,10505.881003,10971.075100,9987.807719,10941.892212,13355.939510
4,Apr-2019,3997.481553,9994.372792,9797.960936,0.000000,14899.961877,9281.224116,10272.471150,0.000000,9779.950055,11155.035183,13293.651864

In [153]:
#criando nomes para duas novas colunas
novos_nomes2 = dummies_prod_sales['Time'].str.split("-",expand=True)
dummies_prod_sales[['Mes', 'Ano']] = novos_nomes2

#Ajusta nomes dos meses
dummies_prod_sales['Mes'].replace({'Jan':'jan','Fev':'fev','Mar':'mar','Apr':'abr','May':'mai','Jun':'jun',
                                  'Jul':'jul','Aug':'ago','Sep':'set','Oct':'out','Nov':'nov','Dec':'dez'})

In [154]:
#Dropa coluna Value
dummies_prod_sales.drop(dummies_prod_sales.columns[0], axis=1,inplace=True)

In [161]:
#Join prod_sales com as demais
cargas_atrac_agri_cprice_pib_psales = cargas_atrac_agri_cprice_pib.merge(dummies_prod_sales, how='inner', on=['Mes', 'Ano'])

KeyError: 'ano'

#Teste para atestar a referencia do index - achamos q seja a média do ano para cada categoria - o resultado é um pouco diferente
prod_sales.loc[(prod_sales['Reference Period Code'] == '2015_100') &
              (prod_sales['Subject'] == 'Production of total industry sa, Index') &
              (prod_sales['LOCATION'] == 'USA')]['Value'].mean()

In [ ]:
prod_sales.reset_index(drop=True, inplace=True)
prod_sales

###############################################################################################################################

############################################### Tx. Desocupação ###############################################################

In [ ]:
#Não alterei nada. Tabela está boa para ser utilizada
taxa_desocupacao.head()

In [ ]:
taxa_desocupacao

###############################################################################################################################

####################################################### Infra Invest ##########################################################

In [ ]:
infra_invest.columns

In [ ]:
#Como ali em cima pegamos apenas EUA e UE, é pertinente aqui pegarmos EUA e GER (país europeu mais forte)

infra_invest = infra_invest[['Country', 'Variable', 'Measure',
       'YEAR', 'Year', 'Value']]

In [ ]:
infra_invest = infra_invest.loc[(infra_invest['Country'].isin(['United States','Germany'])) &
                               (infra_invest['Measure']== "Euro")]

In [ ]:
infra_invest.reset_index(drop=True, inplace=True)
infra_invest

In [ ]:
#Ponderar que o material usado na tabela "infra" são transportados a granel.

###############################################################################################################################

################################################## Weel-being #################################################################

In [ ]:
weel_being_15.columns

In [ ]:
weel_being_15 = weel_being_15[['TYPE_VAR', 'Indicator','Time', 'Value']]

In [ ]:
#weel_being_15.head()

In [ ]:
#Apenas esses indicadores pois são os únicos com 5 medições (2015-19)

weel_being_15 = weel_being_15.loc[weel_being_15['Indicator'].isin(['Social support','Feeling safe at night',
                                                                   'Households with internet access at home',
                                                                  'Employment rate'])]

In [ ]:
weel_being_15

###############################################################################################################################

######################################################### Dolar ###############################################################

In [ ]:
dolar.head()

###############################################################################################################################

As linhas a seguir não contemplam nada do que foi feito acima. Abaixo apenas está linhas que restaram de outra versão.

In [ ]:
#Join os dois dfs - Cargas e Atracação

#df_joined = pd.merge(carga_cont_CAB, atrac, on='IDAtracacao', how='left')
#df_joined

In [ ]:
#Associando a sigla da Origem com o Município

#df_joined.groupby('Origem').Município.value_counts()

In [ ]:
#Associando a sigla da Origem com o Terminal

#df_joined.groupby('Origem').Terminal.value_counts()